.detail-content
    .container
        h1.page-ttl Lorem ipsum dolor sit amet
        .date 12 Novembre 2018
        .entry-content
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis molestie, massa quis faucibus fringilla, tellus sapien tempus libero, id convallis nisi sapien sit amet turpis. Phasellus eu nunc urna. Nam eleifend pulvinar velit id posuere. Integer facilisis, odio quis vulputate pellentesque, lacus sapien molestie odio, quis semper metus nisi non elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris rhoncus ex vel sem ullamcorper, non aliquam sapien convallis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dictum lobortis elit, non imperdiet eros pellentesque at. Donec porta
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis molestie, massa quis faucibus fringilla, tellus sapien tempus libero, id convallis nisi sapien sit amet turpis. Phasellus eu nunc urna. Nam eleifend pulvinar velit id posuere. Integer facilisis, odio quis vulputate pellentesque, lacus sapien molestie odio, quis semper metus nisi non elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris rhoncus ex vel sem ullamcorper, non aliquam sapien convallis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dictum lobortis elit, non imperdiet eros pellentesque at. Donec porta
            p
                img(src="uploads/p/content_img@2x.jpg", alt="")
            h3 Lorem ipsum dolor sit amet
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis molestie, massa quis faucibus fringilla, tellus sapien tempus libero, id convallis nisi sapien sit amet turpis. Phasellus eu nunc urna. Nam eleifend pulvinar velit id posuere. Integer facilisis, odio quis vulputate pellentesque, lacus sapien molestie odio, quis semper metus nisi non elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris rhoncus ex vel sem ullamcorper, non aliquam sapien convallis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dictum lobortis elit, non imperdiet eros pellentesque at. Donec porta
        .more
            a(href="#").btn.btn-blue LOREM IPSUM DOLOR
        h3.offers-ttl Offres Partenaires My Guy Hoquet
        .agence-card
            a(href="#")
                img(src="uploads/thumb_2@2x.jpg", alt="demo")
                .agence-ctent
                    h3.ttl Simulez votre financement
                    .desc Lorem ipsum dolor sit amet, consectetur 
                    .act Démarrer
        // END