.compte-actions
    a(href="#").action_item
        .act-icon
            i.ico.bell
            span.num +5
        .act-info
            h3.ttl Mes alertes
            .txt Lorem ipsum dolor sit amet…
    // END 
    a(href="#").action_item
        .act-icon
            i.ico.heart_outline
        .act-info
            h3.ttl Mes FAVORIS
            .txt Lorem ipsum dolor sit amet…
    // END 
    a(href="#").action_item
        .act-icon
            i.ico.store
        .act-info
            h3.ttl Mes agences
            .txt Lorem ipsum dolor sit amet…
    // END 
    a(href="#").action_item
        .act-icon
            i.ico.account
        .act-info
            h3.ttl Mes Informations
            .txt Lorem ipsum dolor sit amet…
    // END 