.agences-banner.compte-banner
    img(src="uploads/fotolia_3@2x.jpg", alt="demo")
    .agences-info
        .container
            .user-avt
                img(src="uploads/ava_b@2x.png", alt="demo")
            .user-name Clément, 
            .user-desc votre compte Guy Hoquet vous facilite la vie !