/**
 * Page components
 *
 * Description: This is the most accessible LESS file. For creating stucture of a LESS project
 * There're some simple rules: 
 *  - use base rule on this file. E.g. every single rule/indent or each component. To generate the fast view for the parent components
 *  - for children rules put it in matched folders and import it in parent's section
 *  
 */
body {
    color: #808080;
    @include fontMontserrat(400);
    font-size: 12px;
    line-height: 19px;
}
.container {
    padding-left: 35px;
    padding-right: 35px;
    max-width: none;
}
img {
    width: 100%;
}
ul {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
    }
}
.sitemap {
    li {
        margin-bottom: 10px;
        list-style: circle;
        margin-left: 15px;
    }
}
a {
    color: $blue;
    text-decoration: none;
    outline: none;
    &:hover, &:focus {
        outline: none;
        text-decoration: none;
    }
}
// CSS LOADING
.block-loading-page {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    overflow-y: auto;
    background-color: $blue;
    z-index: 1060;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .loading-logo {
        width: 108px;
        margin-bottom: 50px;
    }
    .loading-txt {
        color: #fff;
        @include fontMontserrat(300);
        font-size: 15px;
        // line-height: 29px;
    }
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 12px;
}
//** ------ {{ plugins }} ------------------------------------ 
@import "blocks/plugins";

//** ------ {{ form }} ------------------------------------ 
@import "blocks/form";

//** ------ {{ header }} ------------------------------------ 
@import "blocks/header";

//** ------ {{ content }} ------------------------------------ 
@import "blocks/icons";
@import "blocks/menu";
@import "blocks/homepage";
@import "blocks/home-section";
@import "blocks/agences";
@import "blocks/login";
@import "blocks/articles";
@import "blocks/recherche";
@import "blocks/contact";
@import "blocks/recherche-desktop";

//** ------ {{ footer }} ------------------------------------ 
@import "blocks/footer";