/**
 * Media 480px-
 *
 * description: css rules for screen of old school smartphone
 */
@media (max-width: 380px) {
    .menu-line {
        .menu_link {
            top: -18px;
        }
    }
    .main-menu {
        .menu-item {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    .header-wrap {
        .header-logo {
            a {
                width: 60px;
            }
        }
    }
    .voice-wrap {
        .txt {
            font-size: 14px;
            line-height: 18px;
        }
    }
    .agence-item {
        padding: 10px;
        width: 282px;
        .agence-rate {
            i {
                font-size: 10px;
            }
        }
    }
}
@media (max-width: 340px) {
    .header-wrap {
        .header-caption  {
            margin-left: 5px;
            font-size: 10px;
            line-height: 14px;
        }
        .header-actions {
            a {
                margin-right: 10px;
            }
        }
    }
    .voice-wrap {
        .btn.btn-blue {
            font-size: 12px;
        }
    }
    .agences-info {
        .ttl {
            font-size: 18px;
            line-height: 28px;
        }
    }
    .agences-banner {
        .link_notifi {
            top: 15px;
            right: 15px;
        }
    }
    .agence-card {
        img {
            width: 100px;
            flex: 0 0 100px;
        }
    }
    .agences-list {
        .agence-card {
            .ttl {
                font-size: 13px;
                line-height: 16px;
            }
            .desc {
                font-size: 10px;
                line-height: 16px;
            }
        }
        .agen-phone {
            font-size: 10px;
        }
    }
    .compte-banner {
        .user-avt {
            width: 59px;
        }
        .agences-info {
            font-size: 18px;
            line-height: 24px;
        }
    }
    .action_item {
        .act-icon {
            margin-right: 10px;
        }
    }
    .group-button-social {
        a {
            font-size: 11px;
        }
    }
    .login-wrap {
        .head-menu {
            a {
                width: 68px;
            }
        }
    }
    .search-voice-wrap {
        .voice-ttl {
            font-size: 20px;
            line-height: 30px;
        }
    }
    .recherche-form-wrap {
        .col-6 {
            .input-wrap {
                width: 90px;
                .ipt {
                    padding-left: 10px;
                }
            }
        }
    }
    .nombre-list {
        .nombre-itm {
            width: 42px;
            height: 42px;
            flex: 0 0 42px;
        }
    }
    .head-back {
        .head-ttl {
            font-size: 14px;
        }
    }
    .resultat-item {
        .ttl {
            font-size: 15px;
            line-height: 15px;
        }
        .price {
            font-size: 13px;
            line-height: 13px;
        }
        .act-item {
            margin-right: 7px;
            font-size: 8px;
            &:nth-of-type(3) {
                margin-left: 0;
            }
        }
        .resultat-info {
            bottom: 10px;
            left: 10px;
            right: 10px;
        }
        .txt {
            font-size: 11px;
        }
    }
    .hotel-wrap {
        .price {
            font-size: 14px;
            line-height: 16px;
        }
    }
    .header-wrap {
        .header-caption  {
            font-size: 12px;
            line-height: 16px;
        }
    }
    .fiche-hotline {
        .agen-phone {
            font-size: 12px;
            line-height: 12px;
        }
    }
    .users-item {
        .user-info {
            .img {
                width: 40px;
                flex: 0 0 40px;
                margin-right: 10px;
            }
            .ttl {
                font-size: 11px;
            }
            .pos {
                font-size: 10px;
            }
        }
    }
    .derniers-wrap {
        .resultat-item {
            width: 250px;
            margin-right: 10px;
        }
    }
    .de-biens-banner {
        &.detail-banner {
            .link_social {
                right: 20px;
            }
        }
        .link_favorite {
            right: 70px;
        }
    }
    .bilan-wrap {
        .col-text {
            font-size: 10px;
            white-space: normal;
        }
    }
    .quartier-list {
        .quartier-item {
            .inner {
                width: 60px;
                height: 56px;
                flex: 0 0 60px;
            }
            img {
                width: 20px;
            }
            .ttl {
                font-size: 9px;
                line-height: 10px;
            }
        }
    }
    .home-promotion {
        a {
            width: 100%;
        }
    }
}