/**
 * Media 1200px+
 *
 * description: css rules for screen of desktop
 */
@media (min-width: 1700px) {
    .container.v2 {
        padding-left: 8%;
        padding-right: 8%;
    }
    .home-desktop-content {
        .container.v2 {
            padding-right: 35px;
        }
    }
}
@media (max-width: 1500px) {
    .home-desktop-header {
        .logo {
            width: 100px;
        }
    }
    .hero-slider-wrap {
        .hero-links {
            top: 440px;
            li {
                margin-right: 0px;
            }
            a {
                font-size: 12px;
            }
        }
    }
    .hero-scroll {
        &.quote {
            // top: 950px;
            top: 800px;
            width: 245px;
            span {
                &.txt {
                    font-size: 12px;
                }
                &.line {
                    width: 116px;
                }
            }
        }
    }
    .vos-slider {
        width: auto;
        float: none;
    }
    .home-desktop-content {
        &::after {
            width: 50%;
        }
    }
}
@media (max-width: 1440px) {
    .recherche-desktop-wrap {
        .col-6 {
            flex: 0 0 335px;
            max-width: 335px;
        }
    }
    .recherche-desktop-content {
        .recherche-content-left {
            flex: 0 0 670px;
            max-width: 670px;
        }
        #recherche-map {
            height: 900px;
        }
    }
    .header-recherche-search {
        .col-voice {
            .txt {
                text-indent: -10px;
                font-size: 9px;
            }
        }
        .col-add  {
            .txt {
                font-size: 9px;
            }
        }
        .lbl {
            font-size: 10px;
        }
        .ipt-select, .dropdown-item {
            font-size: 14px;
        }
    }
    .hero-slider-wrap {
        .hero-content {
            .cap-ttl {
                font-size: 53px;
                line-height: 61px;
            }
            .desc {
                font-size: 30px;
                line-height: 40px;
            }
        }
    }
    .hero-form-search {
        .nav-tabs {
            .nav-link {
                font-size: 16px;
            }
        }
        .voice-wrap {
            .txt {
                font-size: 15px;
            }
        }
    }
    .hero-form {
        .ipt-select, .ipt {
            font-size: 16px;
        }
    }
    .vos-content {
        .ttl {
            font-size: 34px;
            line-height: 40px;
        }
        .txt {
            font-size: 18px;
            line-height: 26px;
        }
    }
    .vos-slider {
        .slick-arrow {
            width: 50px;
            height: 50px;
            flex: 0 0 50px;
            &.slick-prev {
                right: 50px;
                &::before {
                    width: 14px;
                    height: 14px;
                }
            }
            &.slick-next {
                &::before {
                    width: 14px;
                    height: 14px;
                }
            }
        }
    }
    .home-desktop-section {
        padding: 20px;
        .section-caption {
            .inner {
                padding-left: 15px;
            }
            .block-title {
                font-size: 18px;
                line-height: 24px;
            }
            .block-desc {
                font-size: 14px;
                line-height: 20px;
            }
        }
        .link_play {
            width: 80px;
            height: 80px;
            flex: 0 0 80px;
            .fa {
                font-size: 18px;
            }
        }
    }
    .section-wrap {
        .section-itm {
            .section-img {
                width: 60px;
                height: 80px;
                flex: 0 0 60px;
                align-items: flex-end;
                img {
                    width: 60px;
                }
            }
            .ttl {
                font-size: 14px;
                line-height: 14px;
            }
            .txt {
                font-size: 11px;
                line-height: 14px;
            }
        }
    }
}
@media (max-width: 1366px) {
    .header-recherche-search {
        .col-local {
            .local {
                margin-left: 5px;
            }
        }
        .input-wrap {
            padding-left: 5px;
        }
    }
    .hero-slider-wrap .hero-links {
        top: 400px;
    }
    .hero-scroll {
        &.quote {
            top: auto;
            bottom: -80px;
            width: 205px;
            span {
                &.line {
                    width: 76px;
                }
            }
        }
    }
}
@media (max-width: 1280px) {
    .recherche-desktop-wrap {
        .col-6 {
            flex: 0 0 305px;
            max-width: 305px;
        }
    }
    .recherche-desktop-content {
        .recherche-content-left {
            flex: 0 0 610px;
            max-width: 610px;
        }
        #recherche-map {
            height: 840px;
        }
        .resultat-item {
            .ttl {
                font-size: 15px;
                line-height: 15px;
            }            
            .price {
                font-size: 14px;
                line-height: 14px;
            }
        }
    }
    .home-desktop-section {
        .section-wrap {
            .section-itm {
                width: calc(100%/2);
                margin-bottom: 20px;
            }
        }
    }
}
@media (max-width: 1170px) {
    .recherche-desktop-wrap {
        .col-6 {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
    .recherche-desktop-content {
        .container {
            padding-left: 0;
            > .row {
                flex-direction: column-reverse;
            }
        }
        .recherche-content-left, 
        .recherche-content-right {
            flex: 0 0 100%;
            max-width: 100%;
        }
        #recherche-map {
            height: 440px;
        }
    }
    .recherche-desktop-wrap {
        padding-left: 35px;
        padding-right: 35px;
    }
    .vos-content {
        .ttl {
            font-size: 24px;
            line-height: 30px;
        }
        .txt {
            font-size: 14px;
            line-height: 20px;
        }
    }
    .hero-slider-wrap {
        .hero-content {
            top: 110px;
            .cap-ttl {
                font-size: 40px;
                line-height: 50px;
            }
            .desc {
                font-size: 24px;
                line-height: 30px;
                margin-bottom: 50px;
            }
        }
    }
    .home-desktop-header {
        .logo {
            width: 97px;
        }
        .title {
            font-size: 14px;
        }
    }
    .hero-form-search {
        .tab-content {
            margin-bottom: 30px;
        }
        .voice-wrap {
            .txt {
                font-size: 12px;
            }
        }
    }
    .footer-wrap {
        .frm_newsletter {
            align-items: flex-start;
            flex-direction: column;
            .ipt {
                margin-bottom: 15px;
                margin-right: 0;
            }
        }
    }
}
@media (min-width: 1025px) {
    .recherche-mb, .menu-line {
        display: none;
    }
    .main {
        padding-bottom: 0;
    }
    .menu-popup, .search-voice-wrap {
        left: auto;
        width: 400px;
    }
    body {
        &::after {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1040;
            display: none;
            background-color: rgba(0,0,0,0.7);
        }
        &.mn-opened, &.blocked, &.mn-filter {
            overflow: hidden;
            &::after {
                display: block;
            }
        }
        &.home {
            background-image: none;
            &::after {
                display: none;
            }
            &.mn-opened, &.blocked, &.mn-filter {
                &::after {
                    display: block;
                    z-index: 1040;
                }
            }
            .main {
                padding-bottom: 0;
            }
        }
    }
}
@media (max-width: 1024px) {
    .recherche-mb {
        display: block;
    }
    .recherche-pc {
        display: none;
    }
}

