.home-location.contact-tabs
    .container
        ul(class="nav nav-tabs", id="contactTab", role="tablist")
            li.nav-item
                a(class="nav-link active" , id="contact-tab", 
                data-toggle="tab", href="#contact" ,role="tab", ,
                aria-controls="contact" ,aria-selected="true") CONTACTER           
            li.nav-item
                a(class="nav-link" , id="prendre-tab", 
                data-toggle="tab", href="#prendre" ,role="tab", ,
                aria-controls="prendre" ,aria-selected="true") PRENDRE RDV
        .tab-content
            include ./tabs/tab-contact
            // END : TAB CONTACTER
            include ./tabs/tab-prendre
            // END : TAB PRENDRE RDV