.contact-form
    form
        .form-group
            input(type="text", class='ipt', placeholder="Nom")
        // END 
        .form-group
            input(type="text", class='ipt', placeholder="Prénom")
        // END 
        .form-group
            input(type="email", class='ipt', placeholder="Adresse e-mail")
        // END 
        .form-group
            input(type="tel", class='ipt', placeholder="Téléphone")
        // END 
        .form-group.mb-20
            textarea.txtarea Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a ornare purus. Donec dictum ornare mauris, ut imperdiet elit posuere non. Integer dignissim venenatis malesuada. 
        // END 
        .form-group
            input(type="checkbox", checked, name="chk-contact", id="chk-1", value="1", class='qh-checkbox')
            label(for="chk-1")
                span.shape
                span.txt Lorem ipsum dolor sit amet 
        // END 
        .form-group.mb-30
            input(type="checkbox", checked, name="chk-contact", id="chk-2", value="2", class='qh-checkbox')
            label(for="chk-2")
                span.shape
                span.txt Je souhaite communiquer par SMS
        // END 
        .form-group
            button(type="button", class="btn btn-blue") ENVOYER LE MESSAGE
        // END 