.hotel-wrap
    .container
        .inner
            figure.hotel-img
                img(src="uploads/contact_thumb@2x.jpg", alt="demo")
            .hotel-info
                .name Maison 3 pièces 
                .local Paris 75107
                .price 250 000 € **
                .code REF : 3501XXLLM