.contactez-info
    .container
        .inner
            a(href="#").close_contact
                i.ico.close
            .row
                .col-6.col-left
                    h2.name GUY HOQUET 
                        span PARIS 
                    p 344 route de Clisson
                    p 44120 Vertou
                    p Tél. 02 49 62 14 96
                // END : LEFT
                .col-6.col-right
                    a(href="index.html")
                        img(src="uploads/logo@2x.png", alt="demo")
                // END : LEFT