form
    .form-inner
        .form-group
            .input-wrap.has-icon-left
                i.ico.local
                input(type="text", value="Paris", class="ipt")
        // END : GROUP
        .form-group
            .input-wrap.has-icon-left
                i.ico.house
                input(type="text", value="Maison, appartements", class="ipt")
        // END : GROUP
        .form-group
            .input-wrap.has-icon-left
                i.ico.euro
                input(type="text", value="250 000", class="ipt")
        // END : GROUP
    // END
    .voice-wrap
        a(href="#").link_voice.action_voice
            i.ico.micro
        .txt RECHERCHE VOCALE
    // END : VOICE
    .button-wrap
        button(type="button", class="btn btn-submit")
            img(src="uploads/icons/ico_estimer@2x.png", alt="demo")
    // END