.contact-menu
    .container
        .row
            .col-5.col-ttl A PROPOS
                span De L’AGENCE
            // END
            .col-7.col-social
                a(href="#")
                    i.ico.mail
                a(href="#").active
                    i.ico.phone
            // END
