.main-menu
    a(href="#").menu-item
        .menu-logo
            img(src="uploads/logo@2x.png", alt="demo")
        h3.ttl Accueil
    a(href="#").menu-item.active
        .menu-icon
            i.ico.home
        h3.ttl Acheter
    a(href="#").menu-item
        .menu-icon
            i.ico.key
        h3.ttl Louer
    a(href="#").menu-item
        .menu-icon
            i.ico.hand
        h3.ttl Vendre
    a(href="#").menu-item.menu_click
        .menu-icon
            i.ico.menu
        h3.ttl Menu