.menu-popup
    .container
        a(href="#").close_menu
            i.ico.close
        .head-menu
            a(href="index.html")
                img(src="uploads/logo@2x.png", alt="demo")
        // END
        ul.menu-list
            li
                a(href="#") Accueil
            li
                a(href="#") VENDRE
            li
                a(href="#") LOUER
            li
                a(href="#") INVESTIR
            li
                a(href="#") FAIRE GERER
            li
                a(href="#") TROUVER UNE AGENCE
            li
                a(href="#") ACTUALITéS
            li
                a(href="#") L’immobilier
            li
                a(href="#") LE GROUPE
            li
                a(href="#") CONTACT
        // END
        .menu-profile
            a(href="#").link_profile.login
                img(src="uploads/ava_b@2x.png", alt="demo").avt
                .name Mon
            // END
            ul.profile-menu
                li
                    a(href="#") Accueil
                li
                    a(href="#") MES ALERTES
                li
                    a(href="#") MES FAVORIS
                li
                    a(href="#") MES AGENCES
                li
                    a(href="#") MES INFORMATIONS
                li
                    a(href="#") DECONNEXION
        // END