.search-voice-wrap
    .container
        a(href="#").close_voide
            i.ico.arr_left
        .inner
            h2.voice-ttl Dictez votre recherche…
            textarea.txt-voice Je recherche un appartement de 100m2 à acheter sur Lyon …
            .voice-wrap
                a(href="#").link_voice
                    i.ico.micro_lrg
            // END : VOICE