.hero-form
    form
        .inner
            .row
                .col-4
                    i.ico.local
                    .input-wrap.has-icon-right 
                        label(for="local").lbl LOCALISATION
                        input(type="text", class="ipt", value="Angers",id="local")
                // END
                .col-4
                    .input-wrap.has-icon-right 
                        label(for="biens").lbl TYPE DE BIENS
                        input(type="text", class="ipt", value="Maison, appartement…",id="biens")
                // END
                .col-4
                    .input-wrap.has-icon-right 
                        label(for="budget").lbl BUDGET MAX
                        input(type="text", class="ipt", value="250 000 €",id="budget")
                // END
        // END
        button(type="button", class="btn btn-blue btn-search")
            i.ico.search