.home-desktop-header
    .container.v2
        .row
            .col-9.hd-home-left
                a(href="index.html").logo
                    img(src="uploads/logo@2x.png", alt="demo")
                .title GUY HOQUET : L'IMMOBILIER 
                    SPAN GARANTI 
            // END : LEFT
            .col-3.hd-recherche-right
                a(href="#").hd-recherche-item
                    i.ico.heart
                a(href="#").hd-recherche-item
                    i.ico.bell_o
                a(href="#").hd-recherche-item
                    i.ico.user
                a(href="#").hd-recherche-item.recherche-menu
                    i.ico.menu
            // END : LEFT