.hero-slider-wrap
    ul.hero-links#hero-links.nav
        li.nav-item
            a(href="#home-about-us").nav-link A propos de nous
        li.nav-item
            a(href="#home-search").nav-link Rechercher
    // END
    .hero-scroll.quote
        span.line
        span.txt Scroll
    // END
    .hero-slider
        .hero-slider-item
            img(src="uploads/hero/hero_2.jpg", alt="demo")
        // END
        .hero-slider-item
            img(src="uploads/hero/hero_2.jpg", alt="demo")
        // END
    // END : SLIDER
    .hero-content
        h2.cap-ttl Heureux de vous retrouver !
        .desc Et si nous relancions votre recherche ?
        .hero-form-search
            .btn.btn-submit
                img(src="uploads/icons/ico_estimer@2x.png", alt="demo")
            // END: ICON SEARCH
            ul(class="nav nav-tabs", id="heroFormTab", role="tablist")
                li.nav-item
                    a(class="nav-link active" , id="hero-acheter-tab", 
                    data-toggle="tab", href="#hero-acheter" ,role="tab", ,
                    aria-controls="hero-acheter" ,aria-selected="true") ACHETER
                li.nav-item
                    a(class="nav-link" , id="hero-louer-tab", 
                    data-toggle="tab", href="#hero-louer" ,role="tab", ,
                    aria-controls="hero-louer" ,aria-selected="true") LOUER
                li.nav-item
                    a(class="nav-link" , id="hero-estimer-tab", 
                    data-toggle="tab", href="#hero-estimer" ,role="tab", ,
                    aria-controls="hero-estimer" ,aria-selected="true") ESTIMER
                li.nav-item
                    a(class="nav-link" , id="hero-vendre-tab", 
                    data-toggle="tab", href="#hero-vendre" ,role="tab", ,
                    aria-controls="hero-vendre" ,aria-selected="true") VENDRE
            // END : NAV
            .tab-content
                include ./tabs/tab-acheter
                // END : TAB ACHETER
                include ./tabs/tab-louer
                // END : TAB LOUER
                include ./tabs/tab-estimer
                // END : TAB ESTIMER
                include ./tabs/tab-vendre
                // END : TAB VENDRE
            // END : TAB CONTENT
            .voice-wrap
                a(href="#").link_voice.action_voice
                    i.ico.micro
                .txt RECHERCHE VOCALE
            // END : VOICE
        // END
    // END : CONTENT