.home-desktop-section#home-search
    .row
        .col-4.col-img
            .inner
                img(src="uploads/ser@2x.jpg",alt="demo")
                a(href="#").link_play
                    i.fa.fa-play
        // END
        .col-8.section-caption
            .inner
                h2.block-title L’agence immobilière de tous vos projets !
                .block-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ac nisi posuere, imperdiet nibh ut, dapibus turpis. In feugiat auctor nibh sed tempor. Quisque libero justo, finibus et lorem ut, volutpat eleifend lacus.
                .section-wrap
                    .section-itm
                        a(href="#").inner
                            .section-img
                                img(src="uploads/icons/ico_shield@2x.png", alt="demo")
                            h3.ttl PRIX DE VENTE 
                                span GARANTI
                            .txt Vendez en toute sécurité avec la garanti du prix de vente défini par votre agent
                    // END : ITEM
                    .section-itm
                        a(href="#").inner
                            .section-img
                                img(src="uploads/icons/ico_clock@2x.png", alt="demo")
                            h3.ttl DÉLAI DE VENTE 
                                span GARANTI
                            .txt N’attendez pas pour vendre votre bien, Guy Hoquet s’engage sur les délais de vente
                    // END : ITEM
                    .section-itm
                        a(href="#").inner
                            .section-img
                                img(src="uploads/icons/ico_umb@2x.png", alt="demo")
                            h3.ttl PROTECTION REVENTE
                            .txt Obtenez une estimation au plus près du prix du marché grâce à notre outil unique
                    // END : ITEM
                    .section-itm
                        a(href="#").inner
                            .section-img
                                img(src="uploads/icons/ico_tool@2x.png", alt="demo")
                            h3.ttl DÉPANAGE D’URGENCE 
                            .txt Profitez d’une garanti sur les équipements se trouvant dans le bien que vous achetez
                    // END : ITEM
        // END