.vos-slide-wrap#home-about-us
    .row
        .col-6.vos-content
            .inner
                h2.ttl Vos agences de confiance
                .txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ac nisi posuere, imperdiet nibh ut, dapibus turpis. In feugiat auctor nibh sed tempor. Quisque libero justo, finibus et lorem ut, volutpat eleifend lacus. Mauris a luctus ligula. Aliquam erat volutpat. Aliquam placerat ante et ipsum auctor.
        // END
        .col-6.col-vos-slider
            .vos-slider
                .vos-slider-item
                    img(src="uploads/slides/slide_2.jpg", alt="demo")
                // END : ITEM
                .vos-slider-item
                    img(src="uploads/slides/slide_3.jpg", alt="demo")
                // END : ITEM
        // END