.home-agence
    .container
        h2.block-agence-ttl Vous en parlez mieux que nous !
    .agence-list
        .agence-item
            .agence-head
                .row
                    .col-8.agence-left
                        .agence-avt
                            img(src="uploads/agence-avt@2x.png", alt="demo")
                        .agence-info
                            .name Q. Bontemps
                            .txt Maine & Loire
                    // END
                    .col-4.agence-rate
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                    // END
            // END
            .agence-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. In us ligula, egestas eu finibus ac, suscipit non eros. Nam maximus id ipsum non pharetra. Proin ut lobortis sapien. Praesent mattis, odio a ultricies
        // END : ITEM
        .agence-item
            .agence-head
                .row
                    .col-8.agence-left
                        .agence-avt
                            img(src="uploads/agence-avt@2x.png", alt="demo")
                        .agence-info
                            .name Q. Bontemps
                            .txt Maine & Loire
                    // END
                    .col-4.agence-rate
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                    // END
            // END
            .agence-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. In us ligula, egestas eu finibus ac, suscipit non eros. Nam maximus id ipsum non pharetra. Proin ut lobortis sapien. Praesent mattis, odio a ultricies
        // END : ITEM
        .agence-item
            .agence-head
                .row
                    .col-8.agence-left
                        .agence-avt
                            img(src="uploads/agence-avt@2x.png", alt="demo")
                        .agence-info
                            .name Q. Bontemps
                            .txt Maine & Loire
                    // END
                    .col-4.agence-rate
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                    // END
            // END
            .agence-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. In us ligula, egestas eu finibus ac, suscipit non eros. Nam maximus id ipsum non pharetra. Proin ut lobortis sapien. Praesent mattis, odio a ultricies
        // END : ITEM