.home-location
    .container
        ul(class="nav nav-tabs", id="animeTab", role="tablist")
            li.nav-item
                a(class="nav-link active" , id="acheter-tab", 
                data-toggle="tab", href="#acheter" ,role="tab", ,
                aria-controls="acheter" ,aria-selected="true") ACHETER
            li.nav-item
                a(class="nav-link" , id="louer-tab", 
                data-toggle="tab", href="#louer" ,role="tab", ,
                aria-controls="louer" ,aria-selected="true") LOUER
            li.nav-item
                a(class="nav-link" , id="estimer-tab", 
                data-toggle="tab", href="#estimer" ,role="tab", ,
                aria-controls="estimer" ,aria-selected="true") ESTIMER
        .tab-content
            include ./tabs/tab-acheter
            // END : TAB ACHETER
            include ./tabs/tab-louer
            // END : TAB LOUER
            include ./tabs/tab-estimer
            // END : TAB ESTIMER