.agences-content
    .container
        h2.page-ttl A propos de nos agences
        .txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis molestie, massa quis faucibus fringilla, tellus sapien tempus libero, id convallis nisi sapien sit amet turpis. Phasellus eu nunc urna. Nam eleifend pulvinar velit id posuere. Integer facilisis, odio quis vulputate pellentesque, lacus sapien molestie odio, quis semper metus nisi non elit. Interdum et malesuada fames ac ante ipsum primis in 
        .agence-card
            a(href="#")
                img(src="uploads/thumb_1@2x.png", alt="demo")
                .agence-ctent
                    h3.ttl Estimer mon bien gratuitement !
                    .desc Lorem ipsum dolor sit amet, consectetur 
                    .act Démarrer
        // END