.fiche-slider
    .fiche-item
        img(src="uploads/fiche_banner.jpg", alt="demo")
    // END
    .fiche-item
        img(src="uploads/fiche_banner.jpg", alt="demo")
    // END
    .fiche-item
        img(src="uploads/fiche_banner.jpg", alt="demo")
    // END