.horaires-wrap
    .container
        h2.offers-ttl Nos horaires
        .horaires-item
            .row
                .col-5.horaires-ttl Lundi
                // END
                .col-7.horaires-time 9h -12h30 /  14h-18h
                // END
        // END
        .horaires-item
            .row
                .col-5.horaires-ttl Mardi
                // END
                .col-7.horaires-time 9h -12h30 /  14h-18h
                // END
        // END
        .horaires-item
            .row
                .col-5.horaires-ttl Mercredi
                // END
                .col-7.horaires-time 9h -12h30 /  14h-18h
                // END
        // END
        .horaires-item
            .row
                .col-5.horaires-ttl Jeudi
                // END
                .col-7.horaires-time 9h -12h30 /  14h-18h
                // END
        // END
        .horaires-item
            .row
                .col-5.horaires-ttl Vendredi
                // END
                .col-7.horaires-time 9h -12h30 /  14h-18h
                // END
        // END
        .horaires-item
            .row
                .col-5.horaires-ttl Samedi
                // END
                .col-7.horaires-time 9h -12h30 
                // END
        // END
        .horaires-item
            .row
                .col-5.horaires-ttl Dimanche
                // END
                .col-7.horaires-time Fermé
                // END
        // END