.fiche-intro-wrap
    .container
        h1.name GUY HOQUET 
            span VILLE
        p 344 route de Clisson
        p 44120 Vertou
            a(href="#").link_add
                i.ico.pin
                | Voir sur la carte
        p ville@guy-hoquet.com
        .fiche-hotline
            .row
                .col-6
                    .agen-phone
                        span.cir
                            i.ico.phone
                        | 02 03 05 06 08
                // END
                .col-6
                    a(href="#").btn.btn-blue VOIR LE SITE
                // END
        // END