.fiche-mission
    .container
        h2.page-ttl Nos missions
        .txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis molestie, massa quis faucibus fringilla, tellus sapien tempus libero, id convallis nisi sapien sit amet turpis. Phasellus eu nunc urna. Nam eleifend pulvinar velit id posuere. Integer facilisis, odio quis vulputate pellentesque, lacus sapien molestie odio, quis semper metus nisi non elit. Interdum et malesuada fames ac ante ipsum 
            a(href="#").more Voir plus