.users-list
    .container
        .users-item
            a(href="#")
                .row
                    .col-8.user-info
                        figure.img
                            img(src='uploads/p/ava_b.png', alt="demo")
                        .info
                            h3.ttl Marc Mennant
                            .pos Directeur d’agence
                    // END
                    .col-4.user-action
                        .act
                            i.ico.mail
                    // END
        // END
        .users-item
            a(href="#")
                .row
                    .col-8.user-info
                        figure.img
                            img(src='uploads/p/ava_2@2x.jpg', alt="demo")
                        .info
                            h3.ttl Judith Wang
                            .pos Directeur d’agence
                    // END
                    .col-4.user-action
                        .act
                            i.ico.mail
                    // END
        // END
        .users-item
            a(href="#")
                .row
                    .col-8.user-info
                        figure.img
                            img(src='uploads/p/ava_3@2x.jpg', alt="demo")
                        .info
                            h3.ttl Caroline Audepière
                            .pos Directeur d’agence
                    // END
                    .col-4.user-action
                        .act
                            i.ico.mail
                    // END
        // END