block vars
  -title = "GUY HOQUET - L'IMMOBILIER GARANTI"
extends layouts/layout_no_header
block main
    include blocks/contactez/head-back-2
    // END : HEAD BACK
    include blocks/contactez/info
    // END : INFO
    include blocks/contactez/content
    // END : FORM