block vars
  -title = "GUY HOQUET - L'IMMOBILIER GARANTI"
extends layouts/layout_no_header
block main
    include blocks/resultat/map/head-back
    // END : HEAD BACK
    include blocks/resultat/map/map
    // END : MAP