block vars
  -title = "GUY HOQUET - L'IMMOBILIER GARANTI"
extends layouts/layout_no_header
block main
    include blocks/achat/head-back
    // END : HEAD BACK
    include blocks/achat/banner
    // END : BANNER
    include blocks/achat/desc
    // END : DESC
    include blocks/achat/list
    // END : LIST
    include blocks/achat/conseils
    // END : conseils