block vars
  -title = "GUY HOQUET - L'IMMOBILIER GARANTI"
extends layouts/layout_no_header
block main
    include blocks/agences/result/banner
    // END : BANNER
    include blocks/agences/result/list
    // END : AGENCES LIST
    include blocks/main-menu
    // END : MAIN MENU