block vars
  -title = "GUY HOQUET - L'IMMOBILIER GARANTI"
extends layouts/layout_no_header
block main
    include blocks/agences/banner
    // END : BANNER
    include blocks/agences/content
    // END : CONTENT
    include blocks/main-menu
    // END : MAIN MENU