block vars
  -title = "GUY HOQUET - L'IMMOBILIER GARANTI"
extends layouts/layout_no_header
block main
    include blocks/articles/head-back
    // END : HEAD BACK
    include blocks/articles/list
    // END : LIST
    include blocks/main-menu
    // END : MAIN MENU