block vars
  -title = "GUY HOQUET - L'IMMOBILIER GARANTI"
extends layouts/layout_no_header
block main
    include blocks/compte/banner
    // END : BANNER
    include blocks/compte/content
    // END : CONTENT