block vars
  -title = "GUY HOQUET - L'IMMOBILIER GARANTI"
extends layouts/layout_no_header
block main
    include blocks/articles/head-back
    // END : HEAD BACK
    include blocks/articles/detail/banner
    // END : BANNER
    include blocks/articles/detail/content
    // END : CONTENT
    include blocks/main-menu
    // END : MAIN MENU