block vars
  -title = "GUY HOQUET - L'IMMOBILIER GARANTI"
extends layouts/layout_no_header
block main
    include blocks/de-biens/head-back
    // END : HEAD BACK
    include blocks/de-biens/banner
    // END : BANNER
    include blocks/de-biens/info
    // END : INFO
    include blocks/de-biens/technique
    // END : technique
    include blocks/de-biens/bilan
    // END : bilan
    include blocks/de-biens/partenaires
    // END : partenaires
    include blocks/de-biens/avis
    // END : avis
    include blocks/de-biens/quartier
    // END : quartier
    include blocks/de-biens/decouvrez
    // END : decouvrez
    include blocks/de-biens/mission
    // END : mission
    include blocks/contact-menu
    // END : CONTACT MENU