block vars
  -title = "GUY HOQUET - L'IMMOBILIER GARANTI"
extends layouts/layout_no_header
block main
    include blocks/fiche/head-back
    // END : HEAD BACK
    include blocks/fiche/banner
    // END : BANNER
    include blocks/fiche/intro
    // END : INTRO
    include blocks/fiche/mission
    // END : MISSION
    include blocks/fiche/users-list
    // END : USERS
    include blocks/fiche/horaires
    // END : horaires
    include blocks/fiche/derniers
    // END : derniers
    include blocks/contact-menu
    // END : CONTACT MENU