block vars
  -title = "GUY HOQUET - L'IMMOBILIER GARANTI"
  -cls = "home"
extends layouts/layout
block main
    .recherche-pc
        include blocks/homepage/desktop/header
        // END : HEADER
        include blocks/homepage/desktop/hero-slider
        // END : HERO SLIDER
        include blocks/homepage/desktop/content
        // END : CONTENT
        include includes/footer
        // END : FOOTER
    // END: PC
    .recherche-mb
        include includes/header.jade 
        // HEADER
        include blocks/homepage/caption
        // END : CAPTION
        include blocks/homepage/location
        // END : FORM RENT
        include blocks/homepage/promotion
        // END : PROMOTION
        include blocks/homepage/text-scroll
        // END
        include blocks/main-menu
        // END : MAIN MENU
    // END : MOBILE