block vars
  -title = "GUY HOQUET - L'IMMOBILIER GARANTI"
extends layouts/layout_2
block main
    include blocks/home-section/slider
    // END : SLIDER
    include blocks/home-section/caption
    // END : CAPTION
    include blocks/home-section/caption-2
    // END : CAPTION
    include blocks/home-section/section
    // END : SECTION
    a(href="#").link_phone
      i.ico.phone
    // END : PHONE
    include blocks/main-menu
    // END : MAIN MENU