block vars
  -title = "GUY HOQUET - L'IMMOBILIER GARANTI"
  -cls = "home"
extends layouts/layout_2
block main
  include blocks/homepage/caption
  // END : CAPTION
  include blocks/home-anime/location
  // END : FORM RENT
  include blocks/homepage/promotion
  // END : PROMOTION
  include blocks/home-anime/agent
  // END : AGENCE
  include blocks/homepage/text-scroll
  // END 
  a(href="#").link_phone
    i.ico.phone
  // END : PHONE
  include blocks/main-menu
  // END : MAIN MENU