block vars
  -title = "GUY HOQUET - L'IMMOBILIER GARANTI"
extends layouts/layout
block main
  include includes/header.jade 
  // HEADER
  include blocks/home-section/slider
  // END : SLIDER
  include blocks/home-section/caption
  // END : CAPTION
  include blocks/home-section/caption-2
  // END : CAPTION
  include blocks/home-section/section
  // END : SECTION
  include blocks/main-menu
  // END : MAIN MENU