block vars
  -title = "GUY HOQUET - L'IMMOBILIER GARANTI"
  -cls = "home"
extends layouts/layout
block main
  include includes/header.jade 
  // HEADER
  include blocks/homepage/caption
  // END : CAPTION
  include blocks/homepage/location
  // END : FORM RENT
  include blocks/homepage/promotion
  // END : PROMOTION
  include blocks/homepage/text-scroll
  // END
  include blocks/main-menu
  // END : MAIN MENU