block vars
  -title = "GUY HOQUET - L'IMMOBILIER GARANTI"
extends layouts/layout_no_header
block main
    .login-wrap
        .container
            a(href="#").close_menu
                i.ico.close
            .head-menu
                a(href="index.html")
                    img(src="uploads/logo@2x.png", alt="demo")
            // END
            .home-caption
                h2.cap-ttl Bienvenue chez vous !
                .txt Connectez-vous à votre compte et bénéficiez de vos avantages
            // END : CAPTION
            include blocks/login/form
            // END : FORM
    // END: LOGIN FORM