block vars
  -title = "GUY HOQUET - L'IMMOBILIER GARANTI"
extends layouts/layout
block main
    .container
        h1 SITEMAP
        ul.sitemap
            li
                a(href='loading.html') Loading
            li
                a(href='index.html') Home Page
            li
                a(href='home-anime.html') Home Animé
            li
                a(href='home-agence.html') Home Agence
            li
                a(href='home-section-2.html') Home Section 2
            li
                a(href='home-section-2-agence.html') Home Section 2 - Agence
            li
                a(href='agences.html') Agences
            li
                a(href='agences-resultat-de-recherche.html') Agences - résultat de recherche
            li
                a(href='compte.html') Compte
            li
                a(href='articles.html') Articles
            li
                a(href='detail-article.html') Détail article
            li
                a(href='login.html') Login
            li
                a(href='recherche-affiner.html') Recherche - Affiner
            li
                a(href='recherche-affiner-2.html') Recherche - Affiner 2
            li
                a(href='resultat-recherche.html') Résultat recherche
            li
                a(href='achat.html') Achat
            li
                a(href='11-contactez.html') 11 - Contactez- l’agence
            li
                a(href='13-contactez.html') 13 - Contacter l’agence
            li
                a(href='fiche-agence.html') Fiche agence
            li
                a(href='4-resultat-recherche.html') 4 - Résultat recherche
            li
                a(href='detail-de-biens.html') Détail de biens
            li
                a(href='recherche-desktop.html') Recherche Desktop
            li
                a(href='home-desktop.html') Home Desktop