block vars
  -title = "GUY HOQUET - L'IMMOBILIER GARANTI"
  -cls = 'recherche-desktop'
extends layouts/layout_map
block main
    .recherche-pc
        .recherche-pc-header
            include blocks/recherche-desktop/header
            // END : HEADER
            include blocks/recherche-desktop/header-search
            // END : HEADER SEARCH
        include blocks/recherche-desktop/content
        // END : CONTENT
        include blocks/recherche-desktop/filter
        // END : FILTER
        include includes/footer
        // END : FOOTER
    // END: PC
    .recherche-mb
        include blocks/resultat/head-back
        // END : HEAD BACK
        include blocks/resultat/list
        // END : LIST
        include blocks/main-menu
        // END : MAIN MENU
    // END: MOBILE