block vars
  -title = "GUY HOQUET - L'IMMOBILIER GARANTI"
extends layouts/layout_no_header
block main
    include blocks/recherche/head-back
    // END : HEAD BACK
    include blocks/recherche/form
    // END : FORM