.recherche-form-wrap
    .container
        form.recherche-form
            .form-group
                label(for='mon').lbl-form
                    i.ico.light
                    | Mon projet
                .input-wrap.has-icon-right
                    select.ipt-select#mon
                        option(value="1") Achat
                        option(value="2") Achat 1
                    i.fa.fa-angle-down
            // END 
            .form-group
                label(for='local').lbl-form
                    i.ico.pin
                    | Localisation
                .input-wrap.has-icon-right
                    input(type="text", value="", class="ipt", id="local")
                    i.ico.local
            // END 
            .form-group
                label(for='type').lbl-form
                    i.ico.house
                    | Type de bien
                
                .input-wrap.has-icon-right
                    select.ipt-select#type
                        option(value="1") Maison, appartements
                        option(value="2") Maison, appartements 1
                    i.fa.fa-angle-down
            // END 
            .form-group
                label(for='price').lbl-form
                    i.ico.euro
                    | Prix max
                .input-wrap.has-icon-right
                    select.ipt-select#price
                        option(value="1") Maison, appartements
                        option(value="2") Maison, appartements 1
                    i.fa.fa-angle-down
            // END 
            .form-group
                label.lbl-form
                    i.ico.scale
                    | Surface habitable
                .row
                    .col-6
                        .input-wrap.has-text-right
                            input(type="text", class="ipt")
                            span.txt m2
                    // END 
                    .col-6
                        .input-wrap.has-text-right
                            input(type="text", class="ipt")
                            span.txt m2
                        .cap Max
                    // END 
            // END 
            .form-group
                label.lbl-form
                    i.ico.sqr
                    | Nombre de pièces
                .nombre-list
                    a(href="#").nombre-itm 1
                    a(href="#").nombre-itm.active 2
                    a(href="#").nombre-itm 3
                    a(href="#").nombre-itm 4
                    a(href="#").nombre-itm 5+
            // END 
            .form-group
                label.lbl-form
                    i.ico.bed
                    | Nombre de chambres
                .nombre-list.chambres
                    a(href="#").nombre-itm 1
                    a(href="#").nombre-itm 2
                    a(href="#").nombre-itm.active 3
                    a(href="#").nombre-itm 4
                    a(href="#").nombre-itm 5+
            // END 
            .form-group
                label(for='equipements').lbl-form
                    i.ico.meal
                    | Equipements
                .input-wrap.has-icon-right
                    select.ipt-select#equipements
                        option(value="1") Ascenseur, parking
                        option(value="2") Ascenseur, parking 1
                    i.fa.fa-angle-down
            // END 
            .form-group
                label(for='exterieur').lbl-form
                    i.ico.tree
                    | Extérieur
                .input-wrap.has-icon-right
                    select.ipt-select#exterieur
                        option(value="1") Terasse
                        option(value="2") Terasse 1
                    i.fa.fa-angle-down
            // END 
.affiner-more
    .container
        a(href="#").btn.btn-blue.voir-les VOIR LES 
            span 300 ANNONCES