.head-back
    .container
        .inner
            a(href="#").link_back
                i.ico.arr_left
                .head-ttl.sml Affiner la recherche
            a(href="#").link_notifi
                i.ico.bell
            a(href="#").link_voice.action_voice
                i.ico.micro