.section-caption
    .container
        .inner
            h2.block-title Vos agences de confiance
            .block-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ac nisi posuere, imperdiet nibh ut, dapibus turpis. In feugiat auctor nibh sed tempor. Quisque libero justo, finibus et lorem ut, volutpat eleifend lacus. Mauris a luctus ligula. Aliquam erat volutpat. Aliquam placerat ante et ipsum auctor, ac scelerisque