.section-caption.sml
    .container
        h2.block-title L’agence immobilière de tous vos projets !
        .block-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ac nisi posuere, imperdiet nibh ut, dapibus turpis. In feugiat auctor nibh sed tempor. Quisque libero justo, finibus et lorem ut, volutpat eleifend lacus.