.home-section-slider-wrap
    .container
        .home-section-slider
            .section-slider-itm
                img(src="uploads/slides/slide_1.jpg")
            // END : ITEM
            .section-slider-itm
                img(src="uploads/slides/slide_2.jpg")
            // END : ITEM
            .section-slider-itm
                img(src="uploads/slides/slide_3.jpg")
            // END : ITEM