footer.footer-wrap
    .footer-menu
        .container.v2
            .row
                .col-8.foo-menu-wrap
                    .row
                        .col-4.foo-menu
                            ul.menu
                                li
                                    a(href="#") Immobilier Grand-Est
                                li
                                    a(href="#") Immobilier Auvergne-Rhône-Alpes
                                li
                                    a(href="#") Immobilier Bourgogne-Franche-Comté
                                li
                                    a(href="#") Immobilier Nouvelle-Aquitaine
                                li
                                    a(href="#") Immobilier Corse
                        // END
                        .col-4.foo-menu
                            ul.menu
                                li
                                    a(href="#") Immobilier Bretagne
                                li
                                    a(href="#") Immobilier Ile-de-France
                                li
                                    a(href="#") Immobilier Occitanie
                                li
                                    a(href="#") Immobilier Bourgogne-Franche-Comté
                                li
                                    a(href="#") Hauts-de-France
                        // END
                        .col-4.foo-menu
                            ul.menu
                                li
                                    a(href="#") Immobilier Pays de la Loire
                                li
                                    a(href="#") Immobilier Normandie
                                li
                                    a(href="#") Immobilier Provence-Alpes-Côte d’Azur
                        // END
                .col-4.foo-newsletter
                    h3.ttl Newsletter : restons en contact
                    form.frm_newsletter
                        input(type="text", class="ipt", placeholder="Email address")
                        button(type="button", class="btn btn-blue") INSCRIPTION
                    // END
                    .foo-social
                        a(href="#")
                            i.fa.fa-twitter
                        a(href="#")
                            i.fa.fa-linkedin
                        a(href="#")
                            i.fa.fa-facebook
                        a(href="#")
                            i.fa.fa-youtube-play
                    // END
                // END
    // END : MENU
    .footer-copyright
        .container.v2 © 2019 - Guy Hoquet : Tous droits réservés
    // END : COPYRIGHT