header.header-wrap
    .container
        .inner
            .header-logo
                a(href="index.html")
                    img(src="uploads/logo@2x.png", alt="demo")
            // END : LOGO
            .header-caption Nom de L’agence
            .header-actions
                a(href="#")
                    i.ico.bell
                a(href="#")
                    i.ico.user
            // END : ACTIONS