script(src="js/libs.js")
script(src="js/plugins.js")
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHGijIOZsf2wzMI0H6EqD3iB9hh6TnLlQ&amp;sensor=false&amp;ver=4.7.13")
script(src="js/start.js")