block vars
  -title = "GUY HOQUET - L'IMMOBILIER GARANTI"
doctype html
//[if IE 8]><html lang="en" class="no-js ie ie8"><![endif]
//[if IE 9]><html lang="en" class="no-js ie ie9"><![endif]
//[if gt IE 9]><!
html(class="no-js", lang="en")
  //<![endif]
  head
    meta(charset="utf-8")
    title=title
    meta(name="description", content="")
    meta(name="keywords", content="")   
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    //-- Call font       
    link(href='https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,900&display=swap', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Roboto:500,900&display=swap', rel='stylesheet', type='text/css')
    link(rel="shortcut icon", href="icons/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="css/style.css")
    //--script(src="js/modernizr.js")     
  body(class=cls + ' loading-blocked')
    include ../blocks/menu-popup-login.jade
    // END : MENU POP-UP
    include ../blocks/search-voice.jade
    // END : SEARCH VOICE
    section.main 
      block main  
    // MAIN CONTENT
    include ../blocks/loading
    // END : LOADING
    include ../includes/scripts.jade