.agences-banner.agences-result
    a(href="#").link_notifi
        i.ico.bell
    img(src="uploads/fotolia_1@2x.jpg", alt="demo")
    .agences-info
        .container
            h1.ttl Je cherche mon agence 
                span Guy Hoquet !
            form
                .input-wrap.has-icon-left
                    i.ico.local
                    input(type="text", value="Paris", class="ipt")
                    button(type="button", class="btn btn-blue btn-search")
                        i.ico.search