.agences-list   
    .container
        h2.page-ttl 5 agences
        .agence-card
            a(href="#")
                img(src="uploads/f_1.jpg", alt="demo")
                .agence-ctent
                    h3.ttl GUY HOQUET VILLE
                    .desc 128 Chemin Doriot, BP 755 
                        span 751001 Paris Cedex
                    .agen-phone
                        span.cir
                            i.ico.phone
                        | 02 03 05 06 08
        // END
        .agence-card
            a(href="#")
                img(src="uploads/f_2.jpg", alt="demo")
                .agence-ctent
                    h3.ttl GUY HOQUET VILLE
                    .desc 128 Chemin Doriot, BP 755 
                        span 751001 Paris Cedex
                    .agen-phone
                        span.cir
                            i.ico.phone
                        | 02 03 05 06 08
        // END
        .agence-card
            a(href="#")
                img(src="uploads/f_3.jpg", alt="demo")
                .agence-ctent
                    h3.ttl GUY HOQUET VILLE
                    .desc 128 Chemin Doriot, BP 755 
                        span 751001 Paris Cedex
                    .agen-phone
                        span.cir
                            i.ico.phone
                        | 02 03 05 06 08
        // END
        .agence-card
            a(href="#")
                img(src="uploads/f_1.jpg", alt="demo")
                .agence-ctent
                    h3.ttl GUY HOQUET VILLE
                    .desc 128 Chemin Doriot, BP 755 
                        span 751001 Paris Cedex
                    .agen-phone
                        span.cir
                            i.ico.phone
                        | 02 03 05 06 08
        // END
        .agence-card
            a(href="#")
                img(src="uploads/f_2.jpg", alt="demo")
                .agence-ctent
                    h3.ttl GUY HOQUET VILLE
                    .desc 128 Chemin Doriot, BP 755 
                        span 751001 Paris Cedex
                    .agen-phone
                        span.cir
                            i.ico.phone
                        | 02 03 05 06 08
        // END
        .agence-card
            a(href="#")
                img(src="uploads/f_3.jpg", alt="demo")
                .agence-ctent
                    h3.ttl GUY HOQUET VILLE
                    .desc 128 Chemin Doriot, BP 755 
                        span 751001 Paris Cedex
                    .agen-phone
                        span.cir
                            i.ico.phone
                        | 02 03 05 06 08
        // END