.head-back
    .container
        .inner
            a(href="#").link_back
                i.ico.arr_left
                .head-ttl Les actualités
            a(href="#").link_search
                i.ico.search