.bg-gray.articles-list
    .container
        h2.page-ttl.text-center Guy Hoquet : de nombreuses initiatives au quotidien
        h3.offers-ttl Toutes les actualités
            i.fa.fa-angle-down
        .articles-item
            a(href="detail-article.html")
                figure.articles-img
                    img(src="uploads/p/p_1@2x.jpg", alt="demo")
                    .cate CATEGORIE
                .articles-info
                    h3.articles-ttl Projet d’achat immobilier : à quoi sert le cadastre ?
                    .date 12 Novembre 2018
        // END : ITEM
        .articles-item
            a(href="detail-article.html")
                figure.articles-img
                    img(src="uploads/p/p_2@2x.jpg", alt="demo")
                    .cate CATEGORIE
                .articles-info
                    h3.articles-ttl Projet d’achat immobilier : à quoi sert le cadastre ?
                    .date 12 Novembre 2018
        // END : ITEM
        .articles-item
            a(href="detail-article.html")
                figure.articles-img
                    img(src="uploads/p/p_3@2x.jpg", alt="demo")
                    .cate CATEGORIE
                .articles-info
                    h3.articles-ttl Projet d’achat immobilier : à quoi sert le cadastre ?
                    .date 12 Novembre 2018
        // END : ITEM
        .articles-item
            a(href="detail-article.html")
                figure.articles-img
                    img(src="uploads/p/p_4@2x.jpg", alt="demo")
                    .cate CATEGORIE
                .articles-info
                    h3.articles-ttl Projet d’achat immobilier : à quoi sert le cadastre ?
                    .date 12 Novembre 2018
        // END : ITEM
        .articles-item
            a(href="detail-article.html")
                figure.articles-img
                    img(src="uploads/p/p_1@2x.jpg", alt="demo")
                    .cate CATEGORIE
                .articles-info
                    h3.articles-ttl Projet d’achat immobilier : à quoi sert le cadastre ?
                    .date 12 Novembre 2018
        // END : ITEM