.login-form
    form
        .form-group
            input(type="email", class="ipt", placeholder="Adresse e-mail")
        // END
        .form-group.group-password
            .inner
                input(type="password", class="ipt", value="12345678")
                a(href="#").link_pass
                    i.ico.eye
            .text-right
                a(href="#").forgot Mot de  passe oublié
        // END
        .form-group.group-connect
            button(type="button", class="btn btn-blue") CONNEXION
        // END
        .form-group.text-center
            a(href='compte.html').register Créer un compte
        // END
    // END
    .group-button-social    
        .form-group
            a(href='#').link_facebook   
                i.fa.fa-facebook
                | Connexion avec Facebook
        // END
        .form-group
            a(href='#').link_google  
                i.fa.fa-google
                | Connexion avec Google
        // END
    // END