.agences-banner.achat-banner
    a(href="#").link_notifi
        i.ico.bell
    img(src="uploads/p/p_l_2@2x.jpg", alt="demo")
    .agences-info
        .container
            h1.ttl L’achat simplifié avec
                span Guy Hoquet !
            form
                .form-group
                    .input-wrap.has-icon-left
                        i.ico.local
                        input(type="text", value="Paris", class="ipt")
                // END
                .form-group
                    button(type="button",class="btn btn-blue") VOIR LES ANNONCES
                // END
                