.agences-content.achat-desc
    .container
        h2.page-ttl Acheter edito
        .txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis molestie, massa quis faucibus fringilla, tellus sapien tempus libero, id convallis nisi sapien sit amet turpis. Phasellus eu nunc urna. Nam eleifend pulvinar velit id posuere. Integer facilisis, odio quis vulputate pellentesque, lacus sapien molestie odio, quis semper metus nisi non elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris rhoncus ex vel sem ullamcorper, non aliquam sapien convallis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dictum lobortis elit, non imperdiet eros pellentesque at. Donec porta efficitur porta.