/**
 * CSS PAGE agences
 */
.agences-banner {
    position: relative;
    &::before, &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
    &::before {
        z-index: 2;
        height: 109px;
        background: -moz-linear-gradient(top, rgba(0,0,0,0.31) 0%, rgba(0,0,0,0) 100%);
        background: -webkit-linear-gradient(top, rgba(0,0,0,0.31) 0%,rgba(0,0,0,0) 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,0.31) 0%,rgba(0,0,0,0) 100%);
    }
    &::after {
        content: '';
        display: block;
        bottom: 0;
        z-index: 1;
        background-color: rgba(0,0,0,0.24);
    }
    &.achat-banner {
        &::after {
            background-color: rgba(0,0,0,0.28);
        }
        .agences-info {
            top: auto;
            transform: translateY(0);
            bottom: 30px;
        }
        .form-group {
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.agences-banner {
    margin-bottom: 40px;
    .link_notifi {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 3;
        .ico {
            background-color: #fff;
        }
    }
}
.agences-info {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
    .ttl {
        font-weight: 600;
        font-size: 20px;
        line-height: 29px;
        color: #fff;
        margin-bottom: 30px;
        text-align: center;
        span {
            display: block;
        }
    }
    .btn-search {
        width: 50px;
        height: 50px;
        padding: 0;
        position: absolute;
        right: 2px;
        top: 2px;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        .ico {
            position: relative;
            left: auto;
            top: auto;
            transform: translateY(0);
        }
    }
    .ipt {
        padding-right: 55px;
    }
}
.page-ttl {
    font-size: 20px;
    line-height: 29px;
    font-weight: 300;
    color: #000;
    margin-bottom: 20px;
}
.agences-content {
    .txt {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #949397;
        margin-bottom: 40px;
    }
}
.agence-card {
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    margin-bottom: 25px;
    .agence-ctent {
        padding-right: 10px;
    }
    a {
        display: flex;
        align-items: center;
    }
    img {
        width: 130px;
        flex: 0 0 130px;
        border-radius: 8px;
        margin-right: 10px;
    }
    .ttl {
        font-size: 13px;
        line-height: 14px;
        margin-bottom: 8px;
    }
    .desc {
        font-size: 10px;
        line-height: 12px;
        color: #999;
        font-weight: 400;
        margin-bottom: 5px;
        span {
            display: block;
        }
    }
    .act {
        color: #000;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.93px;
    }
}
.agences-result {
    .agences-info {
        .ttl {
            margin-bottom: 15px;
        }
    }
}
.agences-list {
    margin-bottom: 50px;
    img {
        width: 102px;
        flex: 0 0 102px;
    }
    .agence-card {
        .ttl {
            text-transform: uppercase;
            font-size: 15px;
            line-height: 18px;
        }
        .desc {
            font-size: 12px;
            line-height: 18px;
            margin-bottom: 5px;
        }
    }
}
.agen-phone {
    color: #000;
    font-weight: 700;
    font-size: 12px;
    display: flex;
    align-items: center;
    .cir {
        width: 26px;
        height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex:  0 0 26px;
        background-color: $blue;
        border-radius: 50%;
        margin-right: 10px;
    }
}
.fiche-slider {
    .slick-dots {
        bottom: 20px;
        li {
            button:before {
                color: #fff;
            }
            &.slick-active {
                button:before {
                    color: #fff;
                }
            }
        }
    }
}
.fiche-intro-wrap {
    margin-bottom: 40px;
    padding-bottom: 30px;
    position: relative;
    color: #000;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    p {
        margin-bottom: 0;
    }
    .name {
        font-size: 20px;
        line-height: 20px;
        font-weight: 300;
        color: #0E4F6C;
        margin-bottom: 5px;
        span {
            font-weight: 500;
        }
    }
    .link_add {
        color: $l_blue;
        margin-left: 5px;
        font-size: 10px;
        text-decoration: underline;
        .pin {
            vertical-align: -4px;
            margin-right: 3px;
            background-color: $l_blue;
        }
    }
}
.fiche-hotline {
    margin-top: 20px;
    .row {
        align-items: center;
        margin-left: -10px;
        margin-right: -10px;
        [class*="col"] {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    .agen-phone {
        font-size: 13px;
        .cir {
            width: 30px;
            height: 30px;
            flex: 0 0 30px;
        }
    }
}
.fiche-intro-wrap {
    &::after {
        content: '';
        display: block;
        height: 11px;
        background-color: #fff;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
}
.fiche-mission {
    .txt {
        font-size: 12px;
        line-height: 16px;
        color: #949397;
        font-weight: 400;
    }
    .more {
        font-size: 12px;
        font-weight: 700;
        color: $blue;
        margin-left: 5px;
        display: inline-block;
    }
}
.users-item {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #DFDFDF;
    .user-info {
        display: flex;
        align-items: center;
        padding-right: 0;
        .img {
            width: 50px;
            flex: 0 0 50px;
            margin-right: 20px;
            margin-bottom: 0;
        }
        .ttl {
            font-size: 13px;
            line-height: 16px;
            margin-bottom: 0;
            color: #4D4D4D;
            font-weight: 700;
        }
        .pos {
            @include fontRoboto(500);
            font-size: 12px;
            line-height: 16px;
            color: #B3B3B3;
        }
    }
}
.users-item {
    .act {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid #F0F0F0;
        display: flex;
        flex: 0 0 40px;
        align-items: center;
        justify-content: center;
        .mail {
            background-color: #B3B3B3;
        }
    }
    .user-action {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}
.users-list, .horaires-wrap, .partenaires-offers, .decouvrez-wrap, .bilan-wrap, .avis-wrap {
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 2px solid #D8D8D8;
}
.decouvrez-wrap {
    padding-bottom: 0;
}
.partenaires-offers {
    padding-bottom: 5px;
}
.horaires-item {
    background-color: #fff;
    &:nth-child(even){
        background-color: #DEEEF0;
    }
    .row {
        height: 33px;
        align-items: center;
    }
    border-radius: 17px;
    .horaires-ttl {
        font-size: 12px;
        font-weight: 300;
        color: #2E2E2E;
        padding-left: 30px;
    }
    .horaires-time {
        font-size: 12px;
        font-weight: 500;
        color: #2E2E2E;
    }
}
.derniers-wrap {
    margin-bottom: 50px;
    .container {
        padding-right: 35px;
            &.no-pad-right {
                padding-right: 0;
            }
    }
    .resultat-item {
        width: 290px;
        margin-right: 15px;
        .act-item {
            font-size: 9px;
            margin-right: 8px;
            &:nth-of-type(3) {
                margin-left: 10px;
            }
        }
    }
}
.de-biens-banner {
    position: relative;
    &.detail-banner {
        .link_social {
            right: 35px;
            bottom: -20px;
        }
    }
    .link_favorite {
        width: 40px;
        height: 40px;
        position: absolute;
        bottom: -20px;
        right: 85px;
        background-color: #FFEAED;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        border-radius: 50%;
        z-index: 1;
        display: flex;
        flex: 0 0 40px;
        align-items: center;
        justify-content: center;
        .ico {
            background-color: #FD687D;
        }
    }
}
.de-biens-banner {
    position: relative;
    .de-biens-gallery {
        position: absolute;
        left: 5px;
        bottom: 10px;
        display: flex;
        .gal_item {
            width: 50px;
            margin-right: 5px;
            border-radius: 4px;
            overflow: hidden;
            cursor: pointer;
        }
        .gal_more {
            cursor: pointer;
            width: 50px;
            height: 50px;
            border-radius: 4px;
            background-color: rgba(0,0,0,0.54);
            display: flex;
            flex: 0 0 50px;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            font-weight: 400;
            color: #fff;
        }
    }
}
.de-biens-banner {
    .slick-prev {
        left: -1px;
        background-image: url('../images/bg_arr_left@2x.png');
        text-indent: -8px;
        &::before {
            content: "\f104";
        }
    }
    .slick-next {
        right: 0;
        text-indent: 8px;
        background-image: url('../images/bg_arr_right@2x.png');
        &::before {
            content: "\f105";
        }
    }
    .slick-prev, .slick-next {
        width: 27px;
        height: 52px;
        z-index: 10;
        display: flex;
        flex:  0 0 27px;
        align-items: center;
        justify-content: center;
        background-repeat: no-repeat;
        background-size: 27px auto;
        &::before {
            font-family: 'FontAwesome';
            color: #fff;
            font-size: 26px;
            opacity: 1;
        }
        &.slick-disabled {
            opacity: 0;
        }
    }
}
.de-biens-info {
    border-bottom: 2px solid #D8D8D8;
    padding-bottom: 20px;
    margin-bottom: 30px;
    .name {
        margin-bottom: 0;
        font-size: 16px;
        line-height: 26px;
        color: #4D4D4D;
        font-weight: 500;
    }
    .add {
        @include fontRoboto(500);
        font-size: 13px;
        line-height: 18px;
        color: #4D4D4D;
        margin-bottom: 5px;
    }
    .price {
        color: $blue;
        font-size: 26px;
        line-height: 28px;
        font-weight: 700;
        margin-bottom: 5px;
    }
    .desc  {
        color: #949397;
        font-weight: 300;
        font-size: 9px;
        line-height: 10px;
        margin-bottom: 30px;
        p {
            margin-bottom: 0;
        }
    }
    .code {
        font-size: 11px;
        line-height: 12px;
        margin-bottom: 10px;
        color: #4D4D4D;
        font-weight: 700;
    }
    .txt {
        font-weight: 400;
        color: #949397;
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 30px;
    }
    .more {
        font-weight: 700;
    }
}
.biens-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -10px;
    margin-right: -10px;
    flex-wrap: wrap;
    .biens-item {
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 15px;
        width: calc(100%/3);
        .inner {
            border: 2px solid #DFDFDF;
            border-radius: 10px;
            width: 90px;
            height: 80px;
            display: flex;
            flex: 0 0 90px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
        }
        .ico {
            background-color: $l_blue;
            margin-bottom: 10px;
        }
        .ttl {
            margin-bottom: 0;
            font-size: 10px;
            line-height: 13px;
            color: #797979;
            font-weight: 700;
        }
    }
}
.biens-item {
    .scale {
        width: 24px;
        height: 22px;
        -webkit-mask-size: 24px auto;
        -moz-mask-size: 24px auto;
        -o-mask-size: 24px auto;
        mask-size: 24px auto;
    }
    .room {
        width: 22px;
        height: 22px;
        -webkit-mask-size: 22px auto;
        -moz-mask-size: 22px auto;
        -o-mask-size: 22px auto;
        mask-size: 22px auto;
    }
}
.technique-wrap {
    .offers-ttl {
        margin-bottom: 10px;
    }
    .slick-dots {
        bottom: -35px;
    }
}
.decouvrez-wrap {
    margin-bottom: 0;
    .offers-ttl {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.bilan-wrap {
    .row {
        align-items: center;
    }
    .col-text  {
        font-size: 11px;
        color: #949397;
        white-space: nowrap;
        line-height: 12px;
    }
    .line {
        height: 26px;
        position: relative;
        font-size: 13px;
        line-height: 13px;
        color: #000;
        display: flex;
        align-items: center;
        &::after {
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 13px 0 13px 12px;
            position: absolute;
            top: 0;
            right: -12px;
        }
        &.green {
            background-color: rgba(204, 255, 51, 0.7);
            &::after {
                border-color: transparent transparent transparent rgba(204, 255, 51, 0.7);
            }
        }
        &.violet {
            background-color: rgba(203, 149, 243, 0.63);
            &::after {
                border-color: transparent transparent transparent rgba(203, 149, 243, 0.63);
            }
        }
        .num {
            font-weight: 400;
            padding-left: 10px;
        }
        .letter {
            font-weight: 300;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
            right: 0;
        }
    }
}
.bilan-wrap {
    .form-group {
        &:last-child {
            margin-bottom: 0;
        }
    }
}
#quartier-map {
    background-color: #eee;
    height: 200px;
    margin-bottom: 20px;
}
.quartier-wrap {
    margin-bottom: 30px;
}
.quartier-info {
    .txt {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #949397;
    }   
    .more {
        font-size: 12px;
        font-weight: 700;
        color: $blue;
        margin-left: 5px;
        display: inline-block;
        margin-bottom: 0;
    }
}
.quartier-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -5px;
    margin-right: -5px;
    flex-wrap: wrap;
    .quartier-item {
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 20px;
        width: calc(100%/4);
        .inner {
            border: 2px solid #DFDFDF;
            border-radius: 10px;
            width: 68px;
            height: 64px;
            display: flex;
            flex: 0 0 68px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
        }
        .quartier-img { 
            display: flex;
            align-items: flex-end;
            justify-content: center;
            margin-bottom: 5px;
            height: 25px;
        }
        img {
            width: 23px;
        }
        .ttl {
            font-size: 10px;
            line-height: 13px;
            color: #797979;
            font-weight: 700;
            margin-bottom: 0;
        }
    }
}
.biens-mission {
    background-color: rgba(223, 233, 223, 0.27);
    padding-top: 30px;
    padding-bottom: 30px;
    .contactez-info {
        padding-top: 0;
        .inner {
            border-bottom: none;
            padding-bottom: 0;
            margin-bottom: 20px;
        }
    }
    .biens-content {
        margin-bottom: 20px;
        .offers-ttl {
            margin-bottom: 5px;
            color: #000;
        }
        .txt {
            font-size: 11px;
            line-height: 18px;
            color: rgba(0, 0, 0, 0.76);
        }
        .biens-user {
            float: right;
            width: 78px;
            margin-bottom: 0;
            margin-left: 10px;
            box-shadow: 0 3px 6px rgba(36, 108, 216, 0.15);
            border-radius: 50%;
        }
    }
}
.avis-wrap {
    .user-comment {
        background-color: $blue;
        border-radius: 14px;
        padding: 20px;
        color: rgba(255,255,255, 0.76);
        .txt {
            font-size: 12px;
            line-height: 16px;
            font-weight: 200;
            margin-bottom: 15px;
        }
        .name, .pos {
            font-size: 11px;
            line-height: 13px;
        }
    }
}
.avis-wrap {
    .user-avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 190px;
        flex: 0 0 190px;
        margin: 0 auto;
    }
    .user-sml {
        text-align: center;
        .cir {
            width: 94px;
            height: 94px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 0 0 94px;
            background-color: rgba(10, 123, 145, 0.29);
            border-radius: 50%;
            margin-bottom: 10px;    
        }
        .ttl {
            color: rgba(77,77,77,0.32);
            font-size: 11px;
            font-weight: 400;
        }
    }
}
.avis-wrap {
    .user-lrg {
        text-align: center;
        position: relative;
        z-index: 2;
        margin-left: -20px;
        img {
            width: 114px;
            box-shadow: 0 3px 6px rgba(36, 108, 216, 0.15);
            border-radius: 50%;
            margin-bottom: 15px;
        }
        .ttl {
            color: #4D4D4D;
            font-size: 12px;
            font-weight: 700;
        }
    }
}
.avis-wrap {
    .user-avatar {
        position: relative;
        &::after {
            content: '';
            display: block;
            width: 34px;
            height: 26px;
            background-image: url('../images/ico_quote@2x.png');
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            bottom: -13px;
            right: -5px;
            z-index: 1;
        }
    }
}