/**
 * CSS articles
 */
.head-back {
    background-color: $blue;
    height: 64px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    border-radius: 0 0 27px 27px;
    // position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    a {
        color: #fff;
    }
    .head-ttl {
        font-size: 16px;
        line-height: 19px;
        font-weight: 700;
        &.sml {
            color: rgba(255, 255,255, 0.8);
            font-weight: 500;
        }
        .txt {
            color: rgba(255, 255,255, 0.8);
            font-size: 11px;
            font-weight: 500;
            margin-left: 5px;
        }
    }
    .arr_left {
        width: 18px;
        height: 18px;
        -webkit-mask-size: 18px auto;
        -moz-mask-size: 18px auto;
        -o-mask-size: 18px auto;
        mask-size: 18px auto;
    }
    .search {
        width: 21px;
        height: 21px;
        -webkit-mask-size: 21px auto;
        -moz-mask-size: 21px auto;
        -o-mask-size: 21px auto;
        mask-size: 21px auto;
    }
}
.head-back {
    .inner {
        position: relative;
        height: 64px;
        display: flex;
        align-items: center;
    }
    .link_back {
        display: flex;
        align-items: center;
        .ico {
            margin-right: 25px;
        }
    }
    .link_search {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        z-index: 1;
    }
    .link_notifi {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        z-index: 1;
        .bell {
            background-color: #fff;
        }
    }
}
.head-back {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .link_voice {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        z-index: 1;
        right: 30px;
        margin-right: 0;
        width: 40px;
        height: 40px;
        line-height: 40px;
        &::before, &::after {
            animation: none;
            display: none;
        }
    }
}
.articles-list {
    padding-top: 100px;
    padding-bottom: 40px;
    .page-ttl {
        margin-bottom: 30px;
    }
}
.offers-ttl {
    .fa {
        font-size: 24px;
        color: #D9D9D9;
        margin-left: 5px;
        vertical-align: -4px;
    }
}
.articles-img {
    margin-bottom: 0;
    position: relative;
    .cate {
        background-color: $blue;
        text-transform: uppercase;
        font-size: 11px;
        color: #fff;
        height: 22px;
        line-height: 22px;
        border-radius: 5px;
        padding-left: 15px;
        padding-right: 15px;
        display: inline-block;
    }
}
.articles-item {
    box-shadow: 0 2px 6px rgba(0,0,0,0.16);
    border-radius: 0 0 20px 20px;
    margin-bottom: 25px;
    a {
        display: block;
    }
    .articles-info {
        padding: 15px 20px 20px 20px;
        background-color: #fff;
        border-radius: 0 0 20px 20px;
    }
    .articles-ttl {
        font-size: 16px;
        line-height: 20px;
        color: #4D4D4D;
    }
    .cate {
        position: absolute;
        bottom: 15px;
        left: 20px;
        z-index: 1;
    }
}
.date {
    color: #999;
    font-size: 10px;
    line-height: 14px;
    text-transform: uppercase;
    @include fontRoboto(500);
}
.detail-banner {
    .container {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
        z-index: 1;
    }
    .link_social {
        width: 40px;
        height: 40px;
        flex: 0 0 40px;
        background-color: #fff;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
        z-index: 1;
        bottom: -40px;
    }
}
.detail-banner {
    margin-bottom: 40px;
    .inner {
        position: relative;
    }
}
.detail-content {
    padding-bottom: 40px;
    .page-ttl {
        margin-bottom: 5px;
    }
    .date {
        margin-bottom: 30px;
    }
    .entry-content {
        font-size: 12px;
        line-height: 16px;
        color: #949397;
        font-weight: 400;
        p {
            margin-bottom: 30px;
        }
        h1, h2, h3 {
            color: #000;
            font-weight: 300;
            margin-bottom: 5px;
        }
        h3 {
            font-size: 15px;
            line-height: 29px;
        }
    }
}
.more {
    margin-bottom: 50px;
}