/**
 * CSS PAGE CONTACT
 */
.home-location {
    &.contact-tabs {
        padding-top: 10px;
        margin-bottom: 0;
        .nav-tabs {
            .nav-item {
                width: 50%;
            }
            .nav-link {
                color: #949397;
            }
            .nav-link.active, .nav-item.show .nav-link {
                background-color: #00B1FF;
                color: #fff;
                &:focus {
                    color: #fff;
                }
                &::before {
                    border-color: #00B1FF transparent transparent transparent;
                }
            }
        }
    }
}
.contact-form {
    .ipt, .txtarea {
        padding-left: 20px;
        padding-right: 20px;
    }
    .txtarea {
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 16px;
    }
}