/**
 * CSS FOOTER
 */
.footer-wrap {
    background-color: #000;
    color: #fff;
    // .container {
    //     max-width: 1640px;
    // }
    .footer-copyright {
        height: 90px;
        border-top: 2px solid rgba(245, 245, 245, 0.13);
        font-size: 14px;
        display: flex;
        align-items: center;
    }
}
.footer-wrap {
    .footer-menu {
        padding-top: 60px;
        padding-bottom: 60px;
        .menu {
            li {
                margin-bottom: 15px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            a {
                font-weight: 200;
                color: #fff;
                transition: all .4s ease;
                font-size: 12px;
                &:hover {
                    color: $l_blue;
                }
            }
        }
    }
}
.footer-wrap {
    .foo-newsletter {
        .ttl {
            font-size: 16px;
            margin-bottom: 20px;
        }
        .foo-social {
            display: flex;
            align-items: center;
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 56px;
                height: 56px;
                flex: 0 0 56px;
                border-radius: 50%;
                border: 2px solid #F5F5F5;
                color: #fff;
                font-size: 24px;
                margin-right: 15px;
                transition: all .4s ease;
                &:hover {
                    background-color: #f5f5f5;
                    color: $l_blue;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}
.footer-wrap {
    .frm_newsletter {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
    }
    .foo-newsletter {
        .ipt {
            @include fontRoboto(500);
            font-size: 12px;
            border: none;
            margin-right: 20px;
            padding-left: 15px;
        }
        .btn-blue {
            @include fontRoboto(900);
            font-size: 10px;
            width: auto;
            display: inline-block;
            padding-left: 15px;
            padding-right: 15px;
            letter-spacing: 1.25px;
            text-transform: uppercase;
        }
    }
}