/**
 * CSS FORM
 */
.ipt, .ipt-select, .txtarea {
    height: 50px;
    padding: 0 10px;
    background-color: #fff;
    @include border-radius(27px);
    @include fontMontserrat(700);
    font-size: 12px;
    color: #B3B3B3;
    border: 2px solid rgba(14, 79, 108, 0.5);
    width: 100%;
    outline: none;
    &:focus, &:hover {
        box-shadow: none;
        outline: none;
    }
    // &:focus {
    //     border-color: $blue;
    // }
}
.txtarea {
    height: 100px;
    resize: none;
    font-weight: 500;
    color: #949397;
}
.ipt-select {
    padding: 0 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-image: url('../images/icons/ico_arrow_down.svg');
    background-repeat: no-repeat;
    background-position: 90% 50%;
}
.ipt {
    &::-webkit-input-placeholder {
        color: #B3B3B3;;
    }
    &::-moz-placeholder {
        color: #B3B3B3;;
    }
    &:-ms-input-placeholder {
        color: #B3B3B3;;
    }
    &:-moz-placeholder {
        color: #B3B3B3;;
    }
}
.input-wrap {
    height: 54px;
    position: relative;
    .ipt {
        height: 54px;
        border: none;
    }   
    .ico, .fa-angle-down {
        position: absolute;
        top: 50%;
        z-index: 1;
        transform: translateY(-50%);
    }
    .fa-angle-down {
        font-size: 24px;
        color: #D9D9D9;
    }
    .ipt-select {
        background-image: none;
        border: none;
        background-color: transparent;
    }
}
.input-wrap {
    position: relative;
    &.has-icon-left {
        .ico {
            left: 20px;
        }
        .ipt {
            padding-left: 55px;
        }
    }
    &.has-icon-right {
        .ico, .fa-angle-down {
            right: 20px;
        }
        .ipt {
            width: 85%;
        }
    }
}
.input-wrap {
    &.has-text-right {
        .txt {
            font-size: 12px;
            font-weight: 700;
            color: #B3B3B3;
            position: absolute;
            top: 50%;
            z-index: 1;
            transform: translateY(-50%);
            right: 15px;
        }
        .ipt {
            width: 65%;
        }
    }
}
.btn {
    outline: none;
    &:hover, &:focus {
        box-shadow: none;
    }
    &.btn-blue {
        color: #fff;
        text-transform: uppercase;
        font-size: 13px;
        background-color: $blue;
        height: 46px;
        line-height: 46px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16);
        border-radius: 27px;
        font-weight: 700;
        width: 100%;
        padding: 0;
        transition: all 0.4s ease;
        &:hover {
            background-color: darken($blue, 10%);
        }
    }
}
.lbl-form {
    display: block;
    color: $blue;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    .ico {
        margin-right: 10px;
        vertical-align: middle;
    }
}
.contactez-info {
    padding-top: 100px;
    .inner {
        position: relative;
        border-bottom: 2px solid #D8D8D8;
        padding-bottom: 20px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
    }
    .col-right {
        a {
            float: right;
            display: block;
            width: 108px;
        }
    }
}
.contactez-info {
    .name {
        font-size: 13px;
        color: #000;
        font-weight: 500;
        margin-bottom: 5px;
        span {
            font-weight: 200;
        }
    }
    p {
        font-size: 13px;
        color: #000;
        font-weight: 300;
        margin-bottom: 5px;
    }
    .close_contact {
        position: absolute;
        top: -15px;
        right: -15px;
        .ico {
            width: 14px;
            height: 14px;
            background-color: #D9D9D9;
            -webkit-mask-size: 14px auto;
            -moz-mask-size: 14px auto;
            -o-mask-size: 14px auto;
            mask-size: 14px auto;
        }
    }
}
.contactez-info {
    .row {
        margin-left: -5px;
        margin-right: -5px;
        width: 100%;
        [class*="col"] {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}
.hotel-wrap {
    .inner {
        display: flex;
        align-items: center;
        border-bottom: 2px solid #D8D8D8;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    .hotel-img {
        width: 116px;
        flex: 0 0 116px;
        margin-right: 15px;
        border-radius: 8px;
        overflow: hidden;
        margin-bottom: 0;
    }
    .name {
        color: #4D4D4D;
        font-size: 13px;
        line-height: 14px;
        margin-bottom: 4px;
    }
    .local {
        @include fontRoboto(500);
        font-size: 11px;
        line-height: 12px;
        color: #4D4D4D;
        margin-bottom: 4px;
    }
    .price {
        font-size: 19px;
        line-height: 20px;
        font-weight: 700;
        color: $blue;
        margin-bottom: 4px;
    }
    .code {
        font-size: 11px;
        line-height: 12px;
        color: #4D4D4D;
        font-weight: 700;
        margin-bottom: 4px;
    }
}
.qh-checkbox {
    display: none;
    + label {
        cursor: pointer;
        display: flex;
        align-items: center;
        .shape {
            width: 22px;
            height: 22px;
            background-color: #DEEEF0;
            border-radius: 2px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 0 0 22px;
            margin-right: 10px;
            &::before {
                content: '';
                display: block;
                -webkit-mask: url('../images/icons/ico_check.svg') no-repeat center;
                mask: url('../images/icons/ico_check.svg') no-repeat center;
                width: 12px;
                height: 8px;
                background-color: #fff;
                opacity: 0;
                visibility: hidden;
                -webkit-mask-size: 12px auto;
                -moz-mask-size: 12px auto;
                -o-mask-size: 12px auto;
                mask-size: 12px auto;
            }
        }
        .txt {
            color: #949397;
            font-size: 12px;
            line-height: 16px;
        }
    }
    &:checked {
        + label {
            .shape {
                background-color: #00B1FF;
                &::before {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}
.mb-20 {
    margin-bottom: 20px !important;
}
.mb-30 {
    margin-bottom: 30px !important;
}