/**
 * CSS HEADER
 */
.header-wrap {
    padding-top: 15px;
    margin-bottom: 30px;
    .inner {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .header-logo {
        a {
            display: block;
            width: 88px;
        }
    }
}
.header-wrap {
    .header-actions {
        display: flex;
        justify-content: flex-end;
        flex: 1;
        a {
            margin-right: 15px;
        }
    }
}
.header-wrap {
    .header-caption  {
        font-size: 14px;
        line-height: 18px;
        color: $blue;
        text-transform: uppercase;
        margin-left: 10px;
        width: 140px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
body {
    &.home {
        .header-wrap {
            .header-actions {
                .ico {
                    background-color: #fff;
                }
            }
            .header-caption {
                color: #fff;
            }
        }
    }
}