/**
 * CSS HOMEPAGE
 */
body {
    &.home {
        background-image: url('../images/home_bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        position: relative;
        min-height: 100vh;
        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            background-color: rgba(0,0,0,0.27);
        }
        .main {
            padding-bottom: 80px;
        }
    }
}
.home-caption {
    color: #fff;
    @include fontMontserrat(500);
    margin-bottom: 30px;
    .cap-ttl {
        font-size: 31px;
        line-height: 35px;
        margin-bottom: 10px;
    }
    .txt {
        font-size: 24px;
        line-height: 29px;
        font-weight: 300;
    }
}
.home-promotion {
    a {
        display: block;
        width: 302px;
        margin: 0 auto;
    }
}
.home-location {
    margin-bottom: 40px;
    .input-wrap {
        .ipt {
            font-size: 14px;
            box-shadow: 0 3px 6px rgba(0,0,0,0.08);
        }
    }
    .form-group {
        margin-bottom: 10px;
    }
    .form-inner {
        margin-bottom: 30px;
    }
}
.home-location {
    .button-wrap {
        margin-top: 50px;
        text-align: center;
    }
}
.btn.btn-submit {
    border: none;
    background-color: transparent;
    outline: none;
    padding: 0;
    width: 113px;
    margin: 0 auto;
    position: relative;
    &::before, &::after {
        content: '';
        position: absolute;
        @include border-radius(50%);
    }
    &::before {
        width: 104px;
        height: 104px;
        z-index: -1;
        animation: circleLight 1.2s infinite;
        background-color: rgba(0, 177, 255, 0.31);
        top: -5px;
        left: -5px;
    }
    &::after {
        width: 134px;
        height: 134px;
        z-index: -2;
        animation: circleLight 1.2s infinite .1s;
        background-color: rgba(0, 177, 255, 0.12);
        top: -20px;
        left: -20px;
    }
}
.voice-wrap {
    display: flex;
    align-items: center;
    .txt {
        @include fontMontserrat(700);
        text-transform: uppercase;
        font-size: 17px;
        line-height: 20px;
        color: $green;
        letter-spacing: 1px;
    }
}
.link_voice {
    width: 46px;
    height: 46px;
    background-color: $green;
    @include border-radius(50%);
    line-height: 46px;
    text-align: center;
    margin-right: 20px;
    position: relative;
    display: flex;
    flex: 0 0 46px;
    align-items: center;
    justify-content: center;
    @include transition(all .4s ease);
    &:hover {
        background-color: darken($green , 5%);
    }
}
.link_voice {
    &::before, &::after {
        content: '';
        position: absolute;
        @include border-radius(50%);
    }
    &::before {
        width: 58px;
        height: 58px;
        z-index: -1;
        animation: circleLight 1.2s infinite;
        background-color: rgba(0, 255, 193, 0.31);
    }
    &::after {
        width: 74px;
        height: 74px;
        z-index: -2;
        animation: circleLight 1.2s infinite .1s;
        background-color: rgba(0, 255, 193, 0.12);
    }
}
.quote {
    transform: rotate(-90deg);
    bottom: 0px;
    // right: -265px;
    right: -210px;
    transform-origin: left top 0;
    position: fixed;
    z-index: 1;
    // &.bottom {
    //     right: -240px;
    // }
    span {
        display: inline-block;
        vertical-align: middle;
        &.line {
            width: 180px;
            height: 1px;
            background-color: rgba(255,255,255,0.5);
        }
        &.txt {
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            color: rgba(255,255,255,0.5);
            padding-left: 10px;
            letter-spacing: 2px;
        }
    }
}
@-webkit-keyframes circleLight
{
    0% {
        transform: scale(0.6);
    }
    99% {
        transform: scale(1.1);
    }
}
@-moz-keyframes circleLight
{
    0% {
        transform: scale(0.6);
    }
    99% {
        transform: scale(1.1);
    }
}
@keyframes circleLight
{
    0% {
        transform: scale(0.6);
    }
    99% {
        transform: scale(1.1);
    }
}
.home-location, .hero-form-search {
    .nav-tabs {
        margin-bottom: 25px;
        border-bottom: none;
        .nav-item {
            margin-bottom: 0;
            width: calc(100%/3);
            text-align: center;
        }
        .nav-link {
            border: none;
            text-transform: uppercase;
            font-size: 12px;
            color: #fff;
            font-weight: 700;
            padding: 0 25px;
            height: 35px;
            line-height: 35px;
            border-radius: 4px;
            position: relative;
            display: inline-block;
        }
        .nav-link.active, .nav-item.show .nav-link {
            color: #000;
            &::before {
                content: '';
                display: block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 7px 6.5px 0 6.5px;
                border-color: #fff transparent transparent transparent;
                position: absolute;
                bottom: -6px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 1;
            }
        }
    }
}
.voice-wrap {
    .btn.btn-blue  {
        height: 54px;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
    }
}
.home-promotion {
    position: relative;
    z-index: 2;
}
.home-agence {
    background-color: #f5f5f5;
    // margin-top: 40px;
    // padding-top: 40px;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-bottom: -20px;
    position: relative;
    &::before {
        content: '';
        display: block;
        height: 86px;
        position: absolute;
        top: -85px;
        left: 0;
        right: 0;
        z-index: 1;
        background: -moz-linear-gradient(top, rgba(245,245,245,0) 0%, rgba(245,245,245,1) 100%);
        background: -webkit-linear-gradient(top, rgba(245,245,245,0) 0%,rgba(245,245,245,1) 100%);
        background: linear-gradient(to bottom, rgba(245,245,245,0) 0%,rgba(245,245,245,1) 100%);
    }
}
.home-agence {
    .block-agence-ttl {
        font-size: 13px;
        line-height: 24px;
        font-weight: 700;
        margin-bottom: 20px;
        color: #4D4D4D;
    }
}
.agence-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    padding: 20px;
    margin: 5px;
    width: 302px;
    opacity: 0.5;
    &.slick-center {
        opacity: 1;
    }
    .agence-left {
        display: flex;
        align-items: center;
    }
    .agence-avt {
        width: 46px;
        height: 46px;
        flex: 0 0 46px;
        margin-right: 10px;
        border-radius: 57px;
        overflow: hidden;
    }
    .agence-desc {
        font-size: 10px;
        line-height: 16px;
        color: #666;
        font-weight: 400;
    }
}
.home-agence {
    .agence-rate {
        text-align: right;
        i {
            color: #FF9300;
            margin-right: 5px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .agence-head {
        margin-bottom: 20px;
        .row {
            margin-left: -5px;
            margin-right: -5px;
            display: flex;
            align-items: center;
            [class*="col"] {
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }
}
.agence-item {
    .agence-info {
        .name {
            font-size: 11px;
            line-height: 14px;
            color: #808080;
        }
        .txt {
            font-weight: 400;
            font-size: 9px;
            line-height: 12px;
            color: #B3B3B3;
        }
    }
}
.link_phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background-color: #00B1FF;
    border-radius: 26px;
    flex: 0 0 35px;
    position: fixed;
    box-shadow: 0 5px 15px rgba(0 ,42, 155, 0.66);
    left: 20px;
    bottom: 85px;
    z-index: 100;
}
.search-voice-wrap {
    position: fixed;
    background-color: $blue;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    overflow-y: auto;
    z-index: -1050;
    opacity: 0;
    visibility: hidden;
    right: -300px;
    transition: all .2s ease;
    .voice-ttl, .txt-voice {
        opacity: 0;
        visibility: hidden;
        transform: translateX(200px);
        transition: all .4s ease 0.4s;
    }
    .voice-wrap {
        opacity: 0;
        visibility: hidden;
        transition: all .4s ease 0.8s;
        transform: scale(0.7);
    }
    &.shw {
        opacity: 1;
        visibility: visible;
        right: 0;
        z-index: 1050;
        .voice-ttl, .txt-voice {
            opacity: 1;
            visibility: visible;
            transform: translateX(0);
        }
        .voice-wrap {
            opacity: 1;
            visibility: visible;
            transform: scale(1);
        }
    }
    .close_voide {
        position: absolute;
        top: 19px;
        left: 23px;
        z-index: 1;
    }
}
.search-voice-wrap {
    .voice-ttl {
        color: #fff;
        font-size: 24px;
        line-height: 35px;
        margin-bottom: 30px;
    }
    .txt-voice {
        background-color: transparent;
        color: #fff;
        font-size: 20px;
        line-height: 29px;
        font-weight: 300;
        height: 100px;
        resize: none;
        border: none;
        border-bottom: 2px solid #fff;
        width: 100%;
        margin-bottom: 80px;
    }
}
.search-voice-wrap {
    .inner {
        display: flex;
        // align-items: center;
        justify-content: center;
        flex-direction: column;
        min-height: 100vh;
    }
    .voice-wrap {
        justify-content: center;
        .link_voice {
            width: 98px;
            height: 98px;
            flex: 0 0 98px;
            &::before {
                width: 120px;
                height: 120px;
            }
            &::after {
                width: 144px;
                height: 144px;
            }
        }
    }
}
body {
    &.blocked {
        overflow: hidden;
    }
}
.tab-content {
    > .tab-pane {
        transition: all .3s ease;
    }
}
.hero-slider {
    &.slick-slider {
        margin-bottom: 0;
    }
    .slick-dots {
        display: none !important;
    }
}
.home-desktop-header {
    background-color: transparent;
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    z-index: 10;
    .hd-home-left {
        display: flex;
        align-items: center;
    }
    .logo {
        width: 127px;
        margin-right: 10px;
    }
    .title  {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        span {
            font-weight: 700;
        }
    }
}
.hero-slider-wrap {
    position: relative;
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.28);
        z-index: 1;
    }
    .hero-content {
        position: absolute;
        top: 140px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .cap-ttl  {
            font-size: 63px;
            line-height: 71px;
            color: #fff;
            margin-bottom: 0;
        }
        .desc {
            color: #fff;
            font-weight: 200;
            font-size: 49px;
            line-height: 59px;
            margin-bottom: 80px;
        }
    }
}
.hero-form-search {
    width: 940px;
    margin: 0 auto;
    position: relative;
    .nav-tabs {
        width: 640px;
        float: right;
        margin-bottom: 50px;
        margin-right: 70px;
        .nav-item {
            width: calc(100%/4);
        }
        .nav-link {
            font-size: 19px;
        }
    }
    .tab-content {
        clear: both;
        margin-bottom: 50px;
    }
}
.hero-form-search {
    .btn.btn-submit {
        position: absolute;
        top: -40px;
        left: -40px;
        z-index: 1;
    }
    .voice-wrap {
        flex-direction: column;
        .link_voice {
            margin-bottom: 20px;
            margin-right: 0;
            width: 76px;
            height: 76px;
            line-height: 76px;
            flex: 0 0 76px;
            &::before {
                width: 88px;
                height: 88px;
            }
            &::after {
                width: 104px;
                height: 104px;
            }
        }
    }
}
.hero-form {
    form {
        display: flex;
        align-items: center;
    }
    .inner {
        background-color: #fff;
        border-radius: 39px;
        height: 77px;
        width: 856px;
        margin-right: 10px;
        .col-4 {
            border-right: 1px solid #BEBEBE;
            height: 77px;
            display: flex;
            align-items: center;
            justify-content: center;
            &:last-child {
                border-right: none;
            }
            &:first-child {
                .input-wrap {
                    margin-left: 0;
                }
            }
        }
    }
    .lbl {
        font-size: 12px;
        font-weight: 400;
        color: $blue;
        margin-bottom: 0;
        text-transform: uppercase;
    }
    .ipt-select, .ipt {
        font-weight: 400;
        font-size: 20px;
        color: rgba(96, 96, 96, 0.6);
        padding-left: 0;
        padding-right: 0;
        height: 22px;
    }
    .input-wrap {
        height: auto;
        width: 100%;
        margin-left: 15px;
        .ipt {
            width: 100%;
            border: none;
            background-color: transparent;
            border-radius: 0;
        }
    }
}
.hero-form {
    .local {
        width: 35px;
        height: 35px;
        -webkit-mask-size: contain;
        -moz-mask-size: contain;
        -o-mask-size: contain;
        mask-size: contain;
        margin-left: 15px;
        margin-right: 10px;
    }
    .btn-search {
        padding: 0;
        width: 77px;
        height: 77px;
        display: flex;
        flex: 0 0 77px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        .search {
            width: 27px;
            height: 27px;
            -webkit-mask-size: contain;
            -moz-mask-size: contain;
            -o-mask-size: contain;
            mask-size: contain;
        }
    }
}
.vos-content {
    .ttl {
        font-size: 54px;
        line-height: 60px;
        color: $blue;
        font-weight: 400;
    }
    .txt {
        color: #808080;
        font-size: 23px;
        line-height: 38px;
        font-weight: 400;
    }
}
.vos-slide-wrap {
    position: relative;
    padding-top: 40px;
}
.vos-content {
    display: flex;
    align-items: center;
    justify-content: center;
    .inner {
        width: 80%;
    }
}
.vos-slider {
    position: relative;
    margin-left: 25px;
    width: 750px;
    float: right;
    &.slick-slider {
        margin-bottom: 0;
    }
    .slick-arrow {
        width: 80px;
        height: 80px;
        background-color: #000;
        bottom: 0;
        top: auto;
        transform: translateY(0);
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 80px;
        z-index: 2;
        &:hover {
            background-color: $l_blue;
        }
        &.slick-prev {
            right: 80px;
            left: auto;
            &::before {
                content: '';
                -webkit-mask: url('../images/icons/ico_arr_left.svg') no-repeat center;
                mask: url('../images/icons/ico_arr_left.svg') no-repeat center;
                width: 20px;
                height: 20px;
                background-color: #fff;
                -webkit-mask-size: contain;
                -moz-mask-size: contain;
                -o-mask-size: contain;
                mask-size: contain;
            }
        }
        &.slick-next {
            right: 0;
            &::before {
                content: '';
                -webkit-mask: url('../images/icons/ico_arr_right.svg') no-repeat center;
                mask: url('../images/icons/ico_arr_right.svg') no-repeat center;
                width: 20px;
                height: 20px;
                background-color: #fff;
                -webkit-mask-size: contain;
                -moz-mask-size: contain;
                -o-mask-size: contain;
                mask-size: contain;
            }
        }
    }
}
.home-desktop-content {
    background-color: #F7F7F7;
    position: relative;
    .inner-content {
        position: relative;
        padding-bottom: 40px;
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: -20px;
            bottom: 0;
            z-index: 1;
            width: 2px;
            background-color: #EBEBEB;
        }
    }
}
.home-desktop-content {
    position: relative;
    .container {
        position: relative;
        z-index: 2;
    }
    &::after {
        content: '';
        display: block;
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        right: 0;
        width: 830px;
        background-color: $blue;
    }
}
.home-desktop-section {
    background-color: #fff;
    box-shadow: -0.68px 1.88px 6px rgba(0,0,0,0.05);
    padding: 40px;
    .section-caption {
        display: flex;
        align-items: center;
        justify-content: center;
        > .inner {
            padding-bottom: 0;
            padding-left: 30px;
            margin-bottom: 0;
            border-bottom: none;
            padding-top: 40px;
        }
        .block-title {
            font-size: 25px;
            line-height: 39px;
        }
        .block-desc {
            font-size: 18px;
            line-height: 29px;
            margin-bottom: 40px;
        }
    }
}
.home-desktop-section {
    .col-img {
        .inner {
            position: relative;
        }
    }
    .link_play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: 1;
        width: 120px;
        height: 120px;
        flex: 0 0 120px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        background-color: $blue;
        transition: all .4s ease;
        &:hover {
            background-color: darken($blue, 10%);
        }
        .fa {
            font-size: 24px;
        }
    }
}
.home-desktop-section {
    .section-wrap {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-left: -25px;
        margin-right: -25px;
        .section-itm {
            width: calc(100%/4);
            padding-left: 25px;
            padding-right: 25px;    
            .inner {
                width: auto;
                border-bottom: none;
                padding-bottom: 0;
                padding-left: 0;
            }
            .ttl {
                margin-bottom: 5px;
            }
        }
    }
}
.hero-slider-wrap {
    .hero-links {
        // position: absolute;
        position: fixed;
        top: 600px;
        left: 30px;
        z-index: 50;
        transform: rotate(-90deg);
        transform-origin: left top 0;
        li {
            display: inline-block;
            margin-right: 60px;
            &:last-child {
                margin-right: 0;
            }
        }
        a {
            font-size: 14px;
            line-height: 19px;
            color: rgba(255, 255, 255, 0.5);
            font-weight: 700;
            letter-spacing: 2px;
            position: relative;
            &::before {
                content: '';
                display: block;
                height: 5px;
                left: 0;
                right: 3px;
                z-index: 1;
                bottom: -12px;
                border-radius: 3px;
                background-color: rgba(0,0,0,0.21);
                position: absolute;
                opacity: 0;
                visibility: hidden;
                transition: all .3s ease;
            }
            &:hover, &.active {
                color: #fff;
                background-color: transparent;
                &::before {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}
.hero-slider-wrap {
    .hero-links {
        &.black {
            a {
                color: rgba(0 ,42, 155, 0.66);
                &::before {
                    background-color: rgba(0,0,0,0.31);
                }
                &:hover, &.active {
                    color: $blue;
                }
            }
        }
    }
}
.hero-scroll {
    &.quote {
        // position: absolute;
        position: fixed;
        height: 80px;
        width: 345px;
        z-index: 100;
        left: 0;
        top: 1200px;
        background-color: $blue;
        bottom: auto;
        right: auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 40px;
        span {
            &.line {
                width: 156px;
            }
        }
    }
}
.loading-blocked {
    overflow: hidden;
}
.hero-scroll {
    &.center {
        &.quote {
            span {
                transition: all .4s ease;
                &.line {
                    width: auto;
                    position: absolute;
                    left: 50px;
                    right: 50px;
                }
                &.txt {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    background: #0e4e6c;
                    padding-left: 10px;
                    padding-right: 10px;
                    z-index: 1;
                }
            }
        }
    }
    &.bottom {
        &.quote {
            span {
                &.line {
                    width: auto;
                    position: absolute;
                    right: 40px;
                    left: 30px;
                }
                &.txt {
                    position: absolute;
                    left: 60px;
                    background: #0e4e6c;
                    padding-right: 10px;
                    z-index: 1;
                }
            }
        }
    }
}
// .hero-scroll {
//     &.fixed {
//         position: fixed;
//         top: 500px !important;
//     }
// }