/**
 * CSS HOME SECTION
 */
.home-section-slider-wrap {
    margin-bottom: 40px;
}
.slick-dots {
    li {
        margin: 0;
        button:before {
            font-size: 12px;
            opacity: 0.3;
            color: #0E4F6C;
        }
        &.slick-active {
            button:before {
                opacity: 1;
                color: #0E4F6C;
            }
        }
    }
}
.home-section-slider {
    &.slick-slider {
        margin-bottom: 0;
    }
    .slick-prev, .slick-next {
        z-index: 1;
        &::before {
            -webkit-mask-size: cover;
            -moz-mask-size: cover;
            -o-mask-size: cover;
            mask-size: cover;
            display: block;
            opacity: 1;
        }
    }
    .slick-prev {
        left: 10px;
    }
    .slick-next {
        right: 10px;
    }
    .section-slider-itm {
        @include border-radius(24px);
        overflow: hidden;
    }
}
.home-section-slider {
    .slick-next {
        &::before {
            content: '';
            -webkit-mask: url('../images/icons/ico_arr_right.svg') no-repeat center;
            mask: url('../images/icons/ico_arr_right.svg') no-repeat center;
            width: 23px;
            height: 23px;
            background-color: #fff;
        }
    }
    .slick-prev {
        &::before {
            content: '';
            -webkit-mask: url('../images/icons/ico_arr_left.svg') no-repeat center;
            mask: url('../images/icons/ico_arr_left.svg') no-repeat center;
            width: 23px;
            height: 23px;
            background-color: #fff;
        }
    }
}
.section-caption {
    .inner {
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 2px solid #D8D8D8;
    }
    .block-title {
        font-size: 23px;
        line-height: 30px;
        margin-bottom: 5px;
    }
    .block-desc {
        font-weight: 400;
    }
    &.sml {
        margin-bottom: 30px;
        .block-title {
            font-size: 16px;
            line-height: 19px;
            margin-bottom: 12px;
        }
    }
}
.block-title {
    color: $blue;
    font-weight: 400;
}
.section-wrap {
    .section-itm {
        margin-bottom: 50px;
        .inner {
            display: block;
            width: 225px;
            margin: 0 auto;
            text-align: center;
        }
        .section-img {
            width: 80px;
            height: 100px;
            margin: 0 auto;
            margin-bottom: 15px;
            display: flex;
            flex: 0 0 80px;
            align-items: flex-end;
            img {
                width: 80px;
            }
        }
        .ttl {
            color: #034EA2;
            text-transform: uppercase;
            font-size: 16px;
            line-height: 16px;
            // font Proxima Nova Medium
            span {
                // font Proxima Nova Bold
                font-weight: 700;
            }
        }
        .txt  {
            font-size: 13px;
            line-height: 16px;
            color: #666;
            font-weight: 400;
            // font Proxima Nova Medium
        }
    }
}
.main {
    padding-bottom: 50px;
}