/**
 * CSS ICONS
 */
.ico {
    display: inline-block;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    -webkit-mask-size: cover;
    -moz-mask-size: cover;
    -o-mask-size: cover;
    mask-size: cover;
    &.bell {
        -webkit-mask: url('../images/icons/ico_bell.svg') no-repeat center;
        mask: url('../images/icons/ico_bell.svg') no-repeat center;
        width: 16px;
        height: 19px;
        background-color: #9C9C9C;
    }
    &.bell_o {
        -webkit-mask: url('../images/icons/ico_bell_o.svg') no-repeat center;
        mask: url('../images/icons/ico_bell_o.svg') no-repeat center;
        width: 16px;
        height: 19px;
        background-color: #fff;
    }
    &.user {
        -webkit-mask: url('../images/icons/ico_user.svg') no-repeat center;
        mask: url('../images/icons/ico_user.svg') no-repeat center;
        width: 19px;
        height: 19px;
        background-color: #9C9C9C;
    }
    &.left_arrow {
        -webkit-mask: url('../images/icons/ico_leftarrow.svg') no-repeat center;
        mask: url('../images/icons/ico_leftarrow.svg') no-repeat center;
        width: 23px;
        height: 23px;
        background-color: #D8D8D8;
    }
    &.arr_left {
        -webkit-mask: url('../images/icons/ico_arr_left.svg') no-repeat center;
        mask: url('../images/icons/ico_arr_left.svg') no-repeat center;
        width: 23px;
        height: 23px;
        background-color: #fff;
    }
    &.arr_right {
        -webkit-mask: url('../images/icons/ico_arr_right.svg') no-repeat center;
        mask: url('../images/icons/ico_arr_right.svg') no-repeat center;
        width: 23px;
        height: 23px;
        background-color: #fff;
    }
    &.home {
        -webkit-mask: url('../images/icons/ico_home.svg') no-repeat center;
        mask: url('../images/icons/ico_home.svg') no-repeat center;
        width: 27px;
        height: 24px;
        background-color: #9c9c9c;
    }
    &.key {
        -webkit-mask: url('../images/icons/ico_key.svg') no-repeat center;
        mask: url('../images/icons/ico_key.svg') no-repeat center;
        width: 27px;
        height: 27px;
        background-color: #9C9C9C;
    }
    &.hand {
        -webkit-mask: url('../images/icons/ico_hand.svg') no-repeat center;
        mask: url('../images/icons/ico_hand.svg') no-repeat center;
        width: 33px;
        height: 20px;
        background-color: #9c9c9c;
    }
    &.menu {
        -webkit-mask: url('../images/icons/ico_menu.svg') no-repeat center;
        mask: url('../images/icons/ico_menu.svg') no-repeat center;
        width: 24px;
        height: 16px;
        background-color: #9C9C9C;
    }
    &.local {
        -webkit-mask: url('../images/icons/ico_local.svg') no-repeat center;
        mask: url('../images/icons/ico_local.svg') no-repeat center;
        width: 21px;
        height: 21px;
        background-color: $blue;
    }
    &.house {
        -webkit-mask: url('../images/icons/ico_house.svg') no-repeat center;
        mask: url('../images/icons/ico_house.svg') no-repeat center;
        width: 20px;
        height: 17px;
        background-color: $blue;
    }
    &.euro {
        -webkit-mask: url('../images/icons/ico_euro.svg') no-repeat center;
        mask: url('../images/icons/ico_euro.svg') no-repeat center;
        width: 16px;
        height: 19px;
        background-color: $blue;
    }
    &.micro {
        -webkit-mask: url('../images/icons/ico_micro.svg') no-repeat center;
        mask: url('../images/icons/ico_micro.svg') no-repeat center;
        width: 12px;
        height: 24px;
        background-color: #fff;
    }
    &.phone {
        -webkit-mask: url('../images/icons/ico_phone.svg') no-repeat center;
        mask: url('../images/icons/ico_phone.svg') no-repeat center;
        width: 14px;
        height: 14px;
        background-color: #fff;
    }
    &.close {
        -webkit-mask: url('../images/icons/ico_close.svg') no-repeat center;
        mask: url('../images/icons/ico_close.svg') no-repeat center;
        width: 14px;
        height: 14px;
        background-color: #fff;
        opacity: 1;
    }
    &.search {
        -webkit-mask: url('../images/icons/ico_search.svg') no-repeat center;
        mask: url('../images/icons/ico_search.svg') no-repeat center;
        width: 17px;
        height: 17px;
        background-color: #fff;
    }
    &.store {
        -webkit-mask: url('../images/icons/ico_store.svg') no-repeat center;
        mask: url('../images/icons/ico_store.svg') no-repeat center;
        width: 29px;
        height: 29px;
        background-color: $l_blue;
        -webkit-mask-size: contain;
        -moz-mask-size: contain;
        -o-mask-size: contain;
        mask-size: contain;
    }
    &.account {
        -webkit-mask: url('../images/icons/ico_account.svg') no-repeat center;
        mask: url('../images/icons/ico_account.svg') no-repeat center;
        width: 27px;
        height: 27px;
        background-color: $l_blue;
        -webkit-mask-size: contain;
        -moz-mask-size: contain;
        -o-mask-size: contain;
        mask-size: contain;
    }
    &.heart {
        -webkit-mask: url('../images/icons/ico_heart.svg') no-repeat center;
        mask: url('../images/icons/ico_heart.svg') no-repeat center;
        width: 17px;
        height: 14px;
        background-color: #fff;
        -webkit-mask-size: 17px auto;
        -moz-mask-size: 17px auto;
        -o-mask-size: 17px auto;
        mask-size: 17px auto;
    }
    &.heart_outline {
        // -webkit-mask: url('../images/icons/ico_heart_outline.svg') no-repeat center;
        // mask: url('../images/icons/ico_heart_outline.svg') no-repeat center;
        width: 29px;
        height: 25px;
        // background-color: $l_blue;
        // -webkit-mask-size: contain;
        // -moz-mask-size: contain;
        // -o-mask-size: contain;
        // mask-size: contain;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('../images/icons/ico_heart_outline.png');
    }
    &.share {
        -webkit-mask: url('../images/icons/ico_share.svg') no-repeat center;
        mask: url('../images/icons/ico_share.svg') no-repeat center;
        width: 18px;
        height: 20px;
        background-color: #d9d9d9;
    }
    &.eye {
        -webkit-mask: url('../images/icons/ico_eye.svg') no-repeat center;
        mask: url('../images/icons/ico_eye.svg') no-repeat center;
        width: 15px;
        height: 11px;
        background-color: #fff;
        -webkit-mask-size: 15px auto;
        -moz-mask-size: 15px auto;
        -o-mask-size: 15px auto;
        mask-size: 15px auto;
    }
    &.micro_lrg {
        -webkit-mask: url('../images/icons/ico_micro_lrg.svg') no-repeat center;
        mask: url('../images/icons/ico_micro_lrg.svg') no-repeat center;
        width: 26px;
        height: 42px;
        background-color: #fff;
    }
    &.light {
        -webkit-mask: url('../images/icons/ico_light.svg') no-repeat center;
        mask: url('../images/icons/ico_light.svg') no-repeat center;
        width: 22px;
        height: 24px;
        background-color: $blue;
    }
    &.pin {
        -webkit-mask: url('../images/icons/ico_pin.svg') no-repeat center;
        mask: url('../images/icons/ico_pin.svg') no-repeat center;
        width: 16px;
        height: 22px;
        background-color: $blue;
    }
    &.meal {
        -webkit-mask: url('../images/icons/ico_meal.svg') no-repeat center;
        mask: url('../images/icons/ico_meal.svg') no-repeat center;
        width: 20px;
        height: 14px;
        background-color: $blue;
    }
    &.tree {
        -webkit-mask: url('../images/icons/ico_tree.svg') no-repeat center;
        mask: url('../images/icons/ico_tree.svg') no-repeat center;
        width: 19px;
        height: 20px;
        background-color: $blue;
    }
    &.sqr {
        -webkit-mask: url('../images/icons/ico-sqr.svg') no-repeat center;
        mask: url('../images/icons/ico-sqr.svg') no-repeat center;
        width: 18px;
        height: 18px;
        background-color: $blue;
    }
    &.bed {
        -webkit-mask: url('../images/icons/ico_bed.svg') no-repeat center;
        mask: url('../images/icons/ico_bed.svg') no-repeat center;
        width: 18px;
        height: 12px;
        background-color: $blue;
    }
    &.scale {
        -webkit-mask: url('../images/icons/ico_scale.svg') no-repeat center;
        mask: url('../images/icons/ico_scale.svg') no-repeat center;
        width: 14px;
        height: 14px;
        background-color: $blue;
    }
    &.room {
        -webkit-mask: url('../images/icons/ico_room.svg') no-repeat center;
        mask: url('../images/icons/ico_room.svg') no-repeat center;
        width: 13px;
        height: 12px;
        background-color: #fff;
        -webkit-mask-size: 13px auto;
        -moz-mask-size: 13px auto;
        -o-mask-size: 13px auto;
        mask-size: 13px auto;
    }
    &.rotate {
        -webkit-mask: url('../images/icons/ico_360.svg') no-repeat center;
        mask: url('../images/icons/ico_360.svg') no-repeat center;
        width: 25px;
        height: 17px;
        background-color: #fff;
    }
    &.camera {
        -webkit-mask: url('../images/icons/ico_camera.svg') no-repeat center;
        mask: url('../images/icons/ico_camera.svg') no-repeat center;
        width: 13px;
        height: 12px;
        background-color: #fff;
    }
    &.play {
        -webkit-mask: url('../images/icons/ico_play.svg') no-repeat center;
        mask: url('../images/icons/ico_play.svg') no-repeat center;
        width: 13px;
        height: 13px;
        background-color: #fff;
        -webkit-mask-size: 13px auto;
        -moz-mask-size: 13px auto;
        -o-mask-size: 13px auto;
        mask-size: 13px auto;
    }
    &.mail {
        -webkit-mask: url('../images/icons/ico_mail.svg') no-repeat center;
        mask: url('../images/icons/ico_mail.svg') no-repeat center;
        width: 20px;
        height: 16px;
        background-color: #fff;
    }
    &.king_bed {
        -webkit-mask: url('../images/icons/ico_king_bed.svg') no-repeat center;
        mask: url('../images/icons/ico_king_bed.svg') no-repeat center;
        width: 26px;
        height: 21px;
        -webkit-mask-size: 26px auto;
        -moz-mask-size: 26px auto;
        -o-mask-size: 26px auto;
        mask-size: 26px auto;
        background-color: $l_blue;
    }
    &.sofa {
        -webkit-mask: url('../images/icons/ico_sofa.svg') no-repeat center;
        mask: url('../images/icons/ico_sofa.svg') no-repeat center;
        width: 27px;
        height: 17px;
        background-color: $l_blue;
    }
    &.shower {
        -webkit-mask: url('../images/icons/ico_shower.svg') no-repeat center;
        mask: url('../images/icons/ico_shower.svg') no-repeat center;
        width: 20px;
        height: 24px;
        background-color: $l_blue;
    }
    &.parking {
        -webkit-mask: url('../images/icons/ico_parking.svg') no-repeat center;
        mask: url('../images/icons/ico_parking.svg') no-repeat center;
        width: 22px;
        height: 22px;
        background-color: $l_blue;
    }
    &.avatar {
        -webkit-mask: url('../images/icons/ico_avatar.svg') no-repeat center;
        mask: url('../images/icons/ico_avatar.svg') no-repeat center;
        width: 32px;
        height: 33px;
        background-color: #fff;
        -webkit-mask-size: 32px auto;
        -moz-mask-size: 32px auto;
        -o-mask-size: 32px auto;
        mask-size: 32px auto;
    }
    &.plus {
        -webkit-mask: url('../images/icons/ico_plus.svg') no-repeat center;
        mask: url('../images/icons/ico_plus.svg') no-repeat center;
        width: 26px;
        height: 26px;
        background-color: #fff;
    }
    &.cocktail_glass {
        -webkit-mask: url('../images/icons/ico_cocktail_glass.svg') no-repeat center;
        mask: url('../images/icons/ico_cocktail_glass.svg') no-repeat center;
        width: 20px;
        height: 21px;
        background-color: #4F4FCB;
    }
    &.shopping {
        -webkit-mask: url('../images/icons/ico_shopping.svg') no-repeat center;
        mask: url('../images/icons/ico_shopping.svg') no-repeat center;
        width: 24px;
        height: 24px;
        background-color: #FF7C36;
    }
    &.school_bus {
        -webkit-mask: url('../images/icons/ico_school_bus.svg') no-repeat center;
        mask: url('../images/icons/ico_school_bus.svg') no-repeat center;
        width: 20px;
        height: 24px;
        background-color: $l_blue;
    }
    &.graduation {
        -webkit-mask: url('../images/icons/ico_graduation.svg') no-repeat center;
        mask: url('../images/icons/ico_graduation.svg') no-repeat center;
        width: 28px;
        height: 24px;
        background-color: #65A70B;
    }
}