/**
 * CSS LOGIN
 */
.agences-banner {
    &.compte-banner {
        &::after {
            background-color: rgba(0,0,0,0.28);
        }
    }
}
.compte-banner {
    margin-bottom: 0;
    .user-avt {
        width: 69px;
        margin: 0 auto;
        border-radius: 50%;
        margin-bottom: 10px;
    }
    .agences-info {
        text-align: center;
        color: #fff;
        font-weight: 300;
        font-size: 20px;
        line-height: 26px;
    }
    .user-name  {
        font-weight: 600;
    }
}
.compte-content {
    margin-bottom: -50px;
    padding-top: 40px;
    padding-bottom: 50px;
}
.bg-gray {
    min-height: 100vh;
    background-color: #f5f5f5;
}
.offers-ttl {
    color: #4D4D4D;
    font-weight: 700;
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 15px;
}
.action_item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 38px;
    height: 75px;
    margin-bottom: 20px;
    .act-icon {
        width: 30px;
        margin-right: 20px;
        position: relative;
        display: flex;
        align-items: center;
        flex: 0 0 30px;
    }
    .ttl {
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: #000;
        margin-bottom: 5px;
    }
    .txt {
        color: #949397;
        font-size: 12px;
        line-height: 12px;
        font-weight: 300;
    }
}
.action_item {
    .bell {
        background-color: $l_blue;
        width: 23px;
        height: 28px;
        -webkit-mask-size: 23px auto;
        -moz-mask-size: 23px auto;
        -o-mask-size: 23px auto;
        mask-size: 23px auto;
    }
    .num {
        font-size: 10px;
        color: #fff;
        border-radius: 50px;
        width: 22px;
        height: 22px;
        line-height: 18px;
        background-color: $blue;
        text-align: center;
        border: 2px solid #fff;
        position: absolute;
        top: -3px;
        right: -3px;
        z-index: 1;
    }
}
.compte-offers {
    margin-bottom: 40px;
}
.compte-actions {
    margin-bottom: 50px;
}
.login-wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1060;
    background-image: url('../images/bg_login.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    overflow-y: auto;
    &::after {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        background-color: rgba(0,0,0,0.24);
    }
}
.login-wrap {
    .head-menu {
        margin-top: 15px;
        margin-bottom: 40px;
        a {
            display: block;
            width: 88px;
        }
    }
    .close_menu {
        position: absolute;
        z-index: 1;
        top: 14px;
        right: 14px;
    }
}
.login-form {
    .ipt {
        background-color: rgba(255, 255, 255, 0.27);
        border-color: rgba(54, 54, 54, 0.27);
        color: #fff;
        padding-left: 30px;
        &::-webkit-input-placeholder {
            color: #fff;
        }
        &::-moz-placeholder {
            color: #fff;
        }
        &:-ms-input-placeholder {
            color: #fff;
        }
        &:-moz-placeholder {
            color: #fff;
        }
    }
}
.login-form {
    .forgot {
        color: #fff;
        font-weight: 700;
        font-size: 10px;
        line-height: 13px;
        padding-right: 10px;
    }
    .register {
        text-transform: uppercase;
        color: #fff;
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
    }
}
.login-form {
    .link_pass {
        position: absolute;
        right: 20px;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
    }
    form {
        margin-bottom: 50px;
    }
}
.group-password {
    margin-bottom: 25px;
    .inner {
        position: relative;
        margin-bottom: 5px;
        background-color: rgba(255, 255, 255, 0.27);
        border: 2px solid rgba(54, 54, 54, 0.27);
        border-radius: 27px;
        .ipt {
            background-color: transparent;
            width: 90%;
            border: none;
        }
    }
}
.group-connect {
    margin-bottom: 30px;
}
.group-button-social {
    a {
        display: block;
        border-radius: 26px;
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 0;
        width: 100%;
        font-size: 13px;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        &.link_facebook {
            background-color: #4267B2;
        }
        &.link_google {
            background-color: #D33636;
        }
        .fa {
            font-size: 18px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 20px;
            z-index: 1;
        }
    }
}