/**
 * CSS MENU
 */
.menu-line {
    position: fixed;
    width: 9px;
    top: 0;
    z-index: 10;
    right: 0;
    bottom: 0;
    background-color: $blue;
    .menu_link {
        display: flex;
        flex: 0 0 50px;
        width: 50px;
        height: 122px;
        background-image: url('../images/bg_leftmenu@2x.png');
        background-repeat: no-repeat;
        position: fixed;
        align-items: center;
        top: -5px;
        right: -17px;
        text-align: center;
        padding-left: 7px;
        .ico {
            background-color: #fff;
        }
    }
}
body {
    &.home {
        .menu-line {
            background-color: #fff;
            .menu_link {
                background-image: url('../images/bg_leftmenu_w@2x.png');
                .ico {
                    background-color: #D8D8D8;
                }
            }
        }
    }
}
.main-menu {
    position: fixed;
    z-index: 100;
    background-color: #fff;
    height: 64px;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 -1px 25px rgba(37, 104, 134, 0.39);
    display: flex;
    align-items: center;
    justify-content: center;
    .menu-item {
        width: 47px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 15px;
        margin-right: 15px;
    }
    .ttl {
        @include fontMontserrat(500);
        font-size: 10px;
        line-height: 13px;
        color: #9C9C9C;
        margin-bottom: 0;
    }
}
.main-menu {
    .menu-icon {
        height: 28px;
        display: flex;
        align-items: center;
        margin-bottom: 5px;
    }
    .menu-item {
        position: relative;
        &::after {
            content: '';
            display: none;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 7px 4px 7px;
            border-color: transparent transparent #00AEEF transparent;
            position: absolute;
            bottom: -9px;
            z-index: 1;
            left: 50%;
            transform: translateX(-50%);
        }
        &.active {
            &::after {
                display: block;
            }
            .ttl {
                color: $blue;
            }
            .ico {
                background-color: $blue;
            }
        }
    }
}
.main-menu {
    .menu-logo {
        width: 47px;
        margin-bottom: 5px;
        margin-top: -18px;
    }
}
.menu-popup {
    position: fixed;
    overflow: hidden;
    overflow-y: auto;
    top: 0;
    bottom: 0;
    background-color: $blue;
    right: -300px;
    width: 100%;
    z-index: -1050;
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease;
    &.shw {
        right: 0;
        z-index: 1050;
        opacity: 1;
        visibility: visible;
    }
    .head-menu {
        margin-top: 25px;
        margin-bottom: 40px;
        a {
            display: block;
            width: 68px;
        }
    }
    .close_menu {
        position: absolute;
        z-index: 1;
        top: 14px;
        right: 14px;
    }
}
.menu-popup {
    .menu-list {
        a {
            color: #fff;
            text-transform: uppercase;
            font-size: 19px;
            line-height: 24px;
            font-weight: 400;
            display: block;
        }
        li {
            margin-bottom: 20px;
            position: relative;
            &::before {
                content: '';
                display: none;
                width: 25px;
                height: 15px;
                background-color: $l_blue;
                position: absolute;
                z-index: 1;
                left: -35px;
                top: 3px;
            }
            &.active {
                &::before {
                    display: block;
                }
                a {
                    color: $l_blue;
                }
            }
        }
    }
}
.menu-popup {
    .menu-profile {
        padding-top: 15px;
        padding-bottom: 15px;
        border-top: 1px solid rgba(255,255,255, 0.24);
        border-bottom: 1px solid rgba(255,255,255, 0.24);
        .ico {
            width: 40px;
            height: 40px;
            margin-right: 20px;
            background-color: #fff;
            -webkit-mask-size: 40px auto;
            -moz-mask-size: 40px auto;
            -o-mask-size: 40px auto;
            mask-size: 40px auto;
        }
        .avt {
            width: 40px;
            border-radius: 50%;
            margin-right: 20px;
        }
        .name {
            font-size: 19px;
            text-transform: uppercase;
            font-weight: 700;
            color: #fff;
        }
        .link_profile {
            display: flex;
            align-items: center;
        }
    }
}
.profile-menu {
    margin-left: 60px;
    display: none;
    &.shw {
        display: block;
    }
    li {
        margin-bottom: 20px;
        a {
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 300;
            color: #fff;
        }
    }
}
.link_profile.login {
    position: relative;
    cursor: pointer;
    &::after {
        content: '\f107';
        font-family: 'FontAwesome';
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        color: rgba(255,255,255, 0.31);
        font-size: 18px;
    }
    &::before {
        content: '';
        display: none;
        width: 25px;
        height: 15px;
        background-color: $l_blue;
        position: absolute;
        z-index: 1;
        left: -35px;
        top: 10px;
    }
    &.act {
        .name {
            color: $l_blue;
        }
        margin-bottom: 25px;
        &::before {
            display: block;
        }
        &::after {
            content: '\f106';
        }
    }
}
.contact-menu {
    background-color: #fff;
    height: 64px;
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 -1px 25px #256886;
    .container,.row {
        height: 64px;
    }
    .row {
        margin-left: -10px;
        margin-right: -10px;
        [class*="col"] {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    .col-ttl {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0 !important;
        font-size: 13px;
        line-height: 13px;
        text-align: center;
        color: $blue;
        span {
            display: block;
            text-transform: uppercase;
        }
    }
    .container {
        padding-left: 20px;
    }
}
.contact-menu {
    .col-social {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        a {
            display: flex;
            width: 46px;
            height: 46px;
            flex: 0 0 46px;
            background-color: $blue;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
            position: relative;
            &:last-child {
                margin-right: 0;
            }
            &::after {
                content: '';
                display: none;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 7px 4px 7px;
                border-color: transparent transparent #00AEEF transparent;
                position: absolute;
                bottom: -9px;
                z-index: 1;
                left: 50%;
                transform: translateX(-50%);
            }
            &.active {
                &::after {
                    display: block;
                }
            }
        }
        .phone {
            width: 19px;
            height: 19px;
            -webkit-mask-size: 19px auto;
            -moz-mask-size: 19px auto;
            -o-mask-size: 19px auto;
            mask-size: 19px auto;
        }
    }
}