/**
 * CSS PAGE recherche-desktop
 */
.header-recherche-desktop {
    height: 120px;
    background-color: $blue;
    z-index: 2;
    position: relative;
    .hd-recherche-left {
        display: flex;
        align-items: center;
        .logo {
            width: 131px;
        }
    }
    .hd-recherche-menu {
        li {
            float: left;
            margin-left: 30px;
            &.active {
                a {
                    color: $l_blue;
                    &::after {
                        display: block;
                    }
                }
            }
            &:hover {
                a {
                    color: $l_blue;
                }
            }
        }
        a {
            font-size: 14px;
            line-height: 24px;
            color: #fff;
            font-weight: 400;
            text-transform: uppercase;
            position: relative;
            &::after {
                content: '';
                display: block;
                width: 9px;
                height: 9px;
                background-color: $l_blue;
                border-radius: 50%;
                position: absolute;
                bottom: -20px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 1;
                display: none;
            }
        }
    }
}
.hd-recherche-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .hd-recherche-item {
        width: 60px;
        height: 60px;
        border: 1px solid #E8E8E8;
        border-radius: 50%;
        display: flex;
        flex: 0 0 60px;
        align-items: center;
        justify-content: center;
        margin-left: 35px;
        transition: all .4s ease;
        &:first-child {
            margin-left: 0;
        }
        .ico {
            transition: all .4s ease;
            background-color: #fff;
        }
        &:hover {
            background-color: #E8E8E8;
            .ico {
                background-color: $l_blue;
            }
        }
    }
}
.recherche-desktop-content {
    overflow: hidden;
    .container {
        padding-right: 0;
    }
    #recherche-map {
        background-color: #eee;
        height: 990px;
    }
}
.recherche-desktop-wrap {
    padding-top: 30px;
    .page-ttl {
        font-size: 25px;
    }
    .col-6 {
        flex: 0 0 332px;
        max-width: 332px;
    }
    .resultat-item {
        .resultat-info {
            bottom: 10px;
            left: 10px;
            right: 10px;
        }
        .act-item {
            font-size: 9px;
            margin-right: 8px;
            &:nth-of-type(3) {
                margin-left: 5px;
            }
        }
    }
}
.recherche-desktop-content {
    .recherche-content-left {
        flex: 0 0 665px;
        max-width: 665px;
    }
    .recherche-content-right {
        flex: 1;
        max-width: none;
    }
}
.header-recherche-search {
    background-color: #146F98;
    height: 87px;
    .row {
        align-items: center;
        height: 87px;
    }
    .col-voice {
        text-align: center;
        .micro {
            width: 17px;
            height: 24px;
            background-color: #00FFC1;
            margin-bottom: -5px;
        }
        .txt {
            text-transform: uppercase;
            font-size: 11px;
            font-weight: 400;
            color: #B5FFED;
            white-space: nowrap;
        }
    }
    [class*="cl"] {
        border-right: 1px solid rgba(226,226,226, 0.7);
        height: 87px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:last-child {
            border-right: none;
        }
        &.cl-20 {
            justify-content: flex-start;
        }
    }
}
.header-recherche-search {
    .col-add {
        text-align: center;
        .txt {
            text-transform: uppercase;
            font-size: 11px;
            font-weight: 300;
            color: #fff;
            white-space: nowrap;
        }
    }
    .lbl {
        font-size: 12px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.7);
        margin-bottom: 0;
        text-transform: uppercase;
    }
    .ipt-select {
        font-weight: 400;
        font-size: 18px;
        color: #fff;
        padding-left: 0;
        padding-right: 0;
        height: 22px;
    }
    .fa-angle-down {
        color: #fff;
        font-size: 18px;
    }
    .input-wrap {
        height: auto;
        width: 100%;
        padding-left: 15px;
        &.has-icon-right {
            .fa-angle-down {
                right: 0;
            }
        }
    }
    .col-local {
        .local {
            background-color: rgba(255, 255, 255, 0.4);
            margin-right: 10px;
            width: 34px;
            height: 34px;
            margin-left: 15px;
            -webkit-mask-size: 27px auto;
            -moz-mask-size: 27px auto;
            -o-mask-size: 27px auto;
            mask-size: 27px auto;
        }
        .input-wrap {
            padding-left: 0;
        }
    }
}
.cl-10 {
    flex: 0 0 10%;
    max-width: 10%;
    padding-left: 15px;
    padding-right: 15px;
}
.cl-20 {
    flex: 0 0 20%;
    max-width: 20%;
    padding-left: 15px;
    padding-right: 15px;
}
.recherche-filter {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 400px;
    overflow: hidden;
    overflow-y: auto;
    background-color: #fff;
    right: -400px;
    z-index: -1050;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
    &.shw {
        right: 0;
        z-index: 1050;
        opacity: 1;
        visibility: visible;
    }
    .recherche-form-wrap {
        padding-top: 20px;
        padding-bottom: 0;
    }
    .close_filter {
        position: absolute;
        z-index: 1;
        top: 14px;
        right: 14px;
        .close {
            background-color: $blue;
        }
    }
}
.header-recherche-search {
    .dropdown-toggle {
        text-align: left;
        position: relative;
        &::after {
            position: absolute;
            right: 0;
            z-index: 1;
            border: none;
            font-family: 'FontAwesome';
            content: "\f107";
            color: #fff;
            font-size: 17px;
            top: -10px;
        }
    }
    .dropdown-item {
        font-weight: 400;
        font-size: 18px;
        &:focus {
            color: #212529;
        }
        &:hover {
            background-color: #f2f2f2;
        }
    }
    .dropdown-menu {
        width: 100%;
        box-shadow: 0 1px 2px rgba(0,0,0,.085), 0 1px 8px rgba(0,0,0,.1);
        border: none;
    }
    .input-wrap {
        &:hover {
            .dropdown-menu {
                display: block;
            }
        }
    }
}
.recherche-pc-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
.recherche-desktop-content {
    margin-top: 207px;
}