/**
 * CSS PAGE: recherche
 */
.recherche-form-wrap {
    padding-top: 100px;
    padding-bottom: 40px;
    .form-group {
        margin-bottom: 30px;
    }
    .input-wrap {
        height: 50px;
        background-color: #fff;
        @include border-radius(27px);
        @include fontMontserrat(700);
        font-size: 12px;
        color: #B3B3B3;
        border: 2px solid rgba(14, 79, 108, 0.5);
        width: 100%;
        .ipt {
            height: 46px;
            padding-left: 25px;
        }
        .local {
            background-color: #D9D9D9;
        }
        #local {
            color: #000;
            &::-webkit-input-placeholder {
                color: #000;;
            }
            &::-moz-placeholder {
                color: #000;;
            }
            &:-ms-input-placeholder {
                color: #000;;
            }
            &:-moz-placeholder {
                color: #000;;
            }
        }
    }
}
.nombre-list {
    display: flex;
    .nombre-itm {
        width: 50px;
        height: 50px;
        flex: 0 0 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px dashed rgba(14, 79, 108, 0.5);
        border-radius: 50%;
        font-size: 15px;
        font-weight: 700;
        color: #B3B3B3;
        margin-right: 10px;
        &:hover {
            color: $blue;
        }
        &.active {
            border-color: transparent;
            background-color: $l_blue;
            color: #fff;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16);
        }
    }
}
.nombre-list {
    &.chambres {
        .nombre-itm {
            &.active {
                background-color: #4BC5FB;
            }
        }
    }
}
.recherche-form-wrap {
    .row {
        margin-left: -5px;
        margin-right: -5px;
    }
    .col-6 {
        padding-left: 5px;
        padding-right: 5px;
        display: flex;
        align-items: center;
        .input-wrap {
            width: 112px;
        }
        .cap {
            font-size: 12px;
            font-weight: 300;
            color: #B3B3B3;
            margin-left: 5px;
        }
    }
}
.affiner-more {
    opacity: 0;
    visibility: hidden;
    transform: translateY(40px);
    transition: all .4s ease;
    position: fixed;
    bottom: 15px;
    left: 0;
    right: 0;
    z-index: -100;
    background-color: #fff;
    &.shw {
        opacity: 1;
        visibility: visible;
        z-index: 100;
        transform: translateY(0);
    }
    .voir-les {
        font-weight: 500;
        font-size: 13px;
        // position: absolute;
        // top: -5px;
        // left: -5px;
        // z-index: 1;
        span {
            font-weight: 700;
        }
    }
}
.recherche-form-wrap {
    .form-group {
        position: relative;
    }
}
.resultat-wrap {
    padding-top: 100px;
    padding-bottom: 40px;
}
.resultat-link {
    a {
        font-size: 12px;
        color: #000;
        font-weight: 300;
        padding-right: 10px;
        margin-right: 10px;
        border-right: 1px solid #000;
        &.active {
            font-weight: 700;
        }
        &:last-child {
            padding-right: 0;
            margin-right: 0;
            border-right: none;
        }
    }
}
.resultat-filter {
    position: relative;
    .pertinence_link {
        color: #4D4D4D;
        font-size: 12px;
        font-weight: 300;
        position: absolute;
        right: 0;
        z-index: 1;
        top: 0;
        .fa {
            margin-left: 5px;
            font-size: 18px;
            vertical-align: middle;
        }
    }
}
.resultat-head {
    margin-bottom: 35px;
    .page-ttl {
        margin-bottom: 20px;
    }
}
.resultat-item {
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 1px 5px #D1D1D1;
    overflow: hidden;
    a {
        display: block;
        position: relative;
    }
    .cate {
        background-color: #0E4F6C;
        text-transform: uppercase;
        font-size: 11px;
        color: #fff;
        height: 22px;
        line-height: 22px;
        border-radius: 5px;
        padding-left: 15px;
        padding-right: 15px;
        display: inline-block;
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 2;
    }
    .favorite {
        width: 28px;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 2;
    }
}
.resultat-item {
    a {
        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            background: -moz-linear-gradient(top, rgba(0,0,0,0) 20%, rgba(0,0,0,0.62) 100%);
            background: -webkit-linear-gradient(top, rgba(0,0,0,0) 20%,rgba(0,0,0,0.62) 100%);
            background: linear-gradient(to bottom, rgba(0,0,0,0) 20%,rgba(0,0,0,0.62) 100%);
        }
    }
}
.resultat-item {
    .resultat-info {
        position: absolute;
        z-index: 2;
        bottom: 15px;
        left: 15px;
        right: 15px;
    }
    .ttl {
        font-weight: 500;
        font-size: 17px;
        line-height: 17px;
        color: #fff;
        margin-bottom: 8px;
    }
    .txt {
        font-size: 13px;
        line-height: 13px;
        font-weight: 500;
        color: #fff;
        margin-bottom: 8px;
    }
    .price {
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        color: #fff;
        margin-bottom: 10px;
    }
}
.resultat-item {
    .act-item {
        font-size: 10px;
        line-height: 13px;
        color: #fff;
        font-weight: 400;
        margin-right: 10px;
        &:nth-of-type(3) {
            margin-left: 15px;
            .ico {
                vertical-align: middle;
            }
        }
        .ico {
            margin-right: 3px;
            background-color: #fff;
            vertical-align: -2px;
            &.scale {
                width: 12px;
                height: 12px;
                -webkit-mask-size: 12px auto;
                -moz-mask-size: 12px auto;
                -o-mask-size: 12px auto;
                mask-size: 12px auto;
            }
        }
    }
    .actions {
        display: flex;
        align-items: center;
    }
}
.achat-desc {
    border-bottom: 2px solid #D8D8D8;
}
.achat-list {
    padding-top: 40px;
    padding-bottom: 20px;
    border-bottom: 2px solid #D8D8D8;
}
.articles-achat {
    padding-top: 40px;
}
.map-wrap {
    position: relative;
    min-height: 100vh;
    margin-bottom: -50px;
    overflow: hidden;
    .map-init {
        background-color: #eee;
        min-height: 100vh;
    }
    .map-category {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        background-color: #FFFFFF;
        .container {
            padding-right: 0;
        }
        &::before {
            content: '';
            display: block;
            height: 46px;
            position: absolute;
            top: -45px;
            left: 0;
            right: 0;
            z-index: 1;
            background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
            background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
        }
    }
}
.map-category {
    .resultat-link {
        margin-bottom: 20px;
    }
    .resultat-item {
        width: 290px;
        margin-right: 15px;
        .act-item {
            font-size: 8px;
            margin-right: 8px;
            &:nth-of-type(3) {
                margin-left: 10px;
            }
        }
    }
}