.recherche-desktop-content
    .container
        .row
            .col-5.recherche-content-left
                include list
            // END : LEFT
            .col-7.recherche-content-right
                #recherche-map(data-lat="48.8560915", data-lng="2.3500983")
            // END : RIGHT