.header-recherche-search
    .container
        .row
            .col-voice.cl-10
                a(href="#").action_voice
                    i.ico.micro
                    .txt RECHERCHE VOCALE
            // END
            .col-slect.cl-20
                .input-wrap.has-icon-right 
                    label(for="type").lbl TYPE DE recherche
                    .dropdown
                        a(class="btn dropdown-toggle ipt-select", href="#", role="button" ,id="dropdowntype" ,data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Achat
                        .dropdown-menu(aria-labelledby="dropdowntype")
                            a(href="#", class="dropdown-item") Achat 1
                            a(href="#", class="dropdown-item") Achat 2
                    //- select.ipt-select#type
                    //-     option(value="1") Achat
                    //-     option(value="2") Achat 1
                    //-     option(value="3") Achat 2
                    //- i.fa.fa-angle-down
            // END
            .col-slect.cl-20.col-local
                i.ico.local
                .input-wrap.has-icon-right 
                    label(for="local").lbl LOCALISATION
                    //- select.ipt-select#local
                    //-     option(value="1") Paris 77500
                    //-     option(value="2") Paris 77500
                    //-     option(value="3") Paris 77500
                    //- i.fa.fa-angle-down
                    .dropdown
                        a(class="btn dropdown-toggle ipt-select", href="#", role="button" ,id="dropdownLocal" ,data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Paris 77500
                        .dropdown-menu(aria-labelledby="dropdownLocal")
                            a(href="#", class="dropdown-item") Paris 77500
                            a(href="#", class="dropdown-item") Paris 77500
            // END
            .col-slect.cl-20
                .input-wrap.has-icon-right 
                    label(for="biens").lbl TYPE DE BIENS
                    //- select.ipt-select#biens
                    //-     option(value="1") Maison, appartement…
                    //-     option(value="2") Maison, appartement 1…
                    //-     option(value="3") Maison, appartement 2…
                    //- i.fa.fa-angle-down
                    .dropdown
                        a(class="btn dropdown-toggle ipt-select", href="#", role="button" ,id="dropdownbiens" ,data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Maison, appartement…
                        .dropdown-menu(aria-labelledby="dropdownbiens")
                            a(href="#", class="dropdown-item") Maison, appartement 1…
                            a(href="#", class="dropdown-item") Maison, appartement 2…
            // END
            .col-slect.cl-20
                .input-wrap.has-icon-right 
                    label(for="budget").lbl BUDGET MAX
                    //- select.ipt-select#budget
                    //-     option(value="1") 250 000 €
                    //-     option(value="2") 300 000 €
                    //-     option(value="3") 350 000 €
                    //- i.fa.fa-angle-down
                    .dropdown
                        a(class="btn dropdown-toggle ipt-select", href="#", role="button" ,id="dropdownbudget" ,data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") 250 000 €
                        .dropdown-menu(aria-labelledby="dropdownbudget")
                            a(href="#", class="dropdown-item") 300 000 €
                            a(href="#", class="dropdown-item") 350 000 €
            // END
            .col-add.cl-10
                a(href="#").link_filter
                    i.ico.plus
                    .txt PLUS DE FILTRES
            // END