.header-recherche-desktop
    .container
        .row
            .col-9.hd-recherche-left
                a(href="index.html").logo
                    img(src="uploads/logo@2x.png", alt="demo")
                ul.hd-recherche-menu
                    li.active
                        a(href="#") ACHETER
                    li
                        a(href="#") LOUER
                    li
                        a(href="#") ESTIMER
                    li
                        a(href="#") FAIRE GÉRER
            // END : LEFT
            .col-3.hd-recherche-right
                a(href="#").hd-recherche-item
                    i.ico.heart
                a(href="#").hd-recherche-item
                    i.ico.bell_o
                a(href="#").hd-recherche-item
                    i.ico.user
                a(href="#").hd-recherche-item.recherche-menu
                    i.ico.menu
            // END : LEFT