.recherche-desktop-wrap
    .resultat-head
        h2.page-ttl 116 annonces
        .resultat-filter
            .resultat-link
                a(href="#") CARTE      
                a(href="#").active LISTE
            a(href="#").pertinence_link Pertinence
                i.fa.fa-angle-down
    // END : HEAD
    .recherche-desktop-list
        .row
            .col-6
                .resultat-item
                    a(href="#")
                        .cate EXCLUSIVITÉ
                        .favorite
                            img(src="uploads/icons/icon_heart@2x.png", alt="")
                        img(src="uploads/properties/resultat_thumb_1@2x.jpg", alt="demo")
                        .resultat-info
                            h3.ttl Maison Niederschaeffolsheim
                            .price 250 000 €
                            .actions
                                span.act-item
                                    i.ico.room
                                    | 6
                                // END
                                span.act-item
                                    i.ico.scale
                                    | 110 m²
                                // END
                                span.act-item
                                    i.ico.rotate
                                    | Visite virtuelle
                                // END
                                span.act-item
                                    i.ico.camera
                                    | 5
                                // END
                                span.act-item
                                    i.ico.play
                                    | 2
                                // END
            // END : ITEM
            .col-6
                .resultat-item
                    a(href="#")
                        .cate EXCLUSIVITÉ
                        .favorite
                            img(src="uploads/icons/icon_heart@2x.png", alt="")
                        img(src="uploads/properties/resultat_thumb_1@2x.jpg", alt="demo")
                        .resultat-info
                            h3.ttl Maison Niederschaeffolsheim
                            .price 250 000 €
                            .actions
                                span.act-item
                                    i.ico.room
                                    | 6
                                // END
                                span.act-item
                                    i.ico.scale
                                    | 110 m²
                                // END
                                span.act-item
                                    i.ico.rotate
                                    | Visite virtuelle
                                // END
                                span.act-item
                                    i.ico.camera
                                    | 5
                                // END
                                span.act-item
                                    i.ico.play
                                    | 2
                                // END
            // END : ITEM
            .col-6
                .resultat-item
                    a(href="#")
                        .cate EXCLUSIVITÉ
                        .favorite
                            img(src="uploads/icons/icon_heart@2x.png", alt="")
                        img(src="uploads/properties/resultat_thumb_1@2x.jpg", alt="demo")
                        .resultat-info
                            h3.ttl Maison Niederschaeffolsheim
                            .price 250 000 €
                            .actions
                                span.act-item
                                    i.ico.room
                                    | 6
                                // END
                                span.act-item
                                    i.ico.scale
                                    | 110 m²
                                // END
                                span.act-item
                                    i.ico.rotate
                                    | Visite virtuelle
                                // END
                                span.act-item
                                    i.ico.camera
                                    | 5
                                // END
                                span.act-item
                                    i.ico.play
                                    | 2
                                // END
            // END : ITEM
            .col-6
                .resultat-item
                    a(href="#")
                        .cate EXCLUSIVITÉ
                        .favorite
                            img(src="uploads/icons/icon_heart@2x.png", alt="")
                        img(src="uploads/properties/resultat_thumb_1@2x.jpg", alt="demo")
                        .resultat-info
                            h3.ttl Maison Niederschaeffolsheim
                            .price 250 000 €
                            .actions
                                span.act-item
                                    i.ico.room
                                    | 6
                                // END
                                span.act-item
                                    i.ico.scale
                                    | 110 m²
                                // END
                                span.act-item
                                    i.ico.rotate
                                    | Visite virtuelle
                                // END
                                span.act-item
                                    i.ico.camera
                                    | 5
                                // END
                                span.act-item
                                    i.ico.play
                                    | 2
                                // END
            // END : ITEM
            .col-6
                .resultat-item
                    a(href="#")
                        .cate EXCLUSIVITÉ
                        .favorite
                            img(src="uploads/icons/icon_heart@2x.png", alt="")
                        img(src="uploads/properties/resultat_thumb_1@2x.jpg", alt="demo")
                        .resultat-info
                            h3.ttl Maison Niederschaeffolsheim
                            .price 250 000 €
                            .actions
                                span.act-item
                                    i.ico.room
                                    | 6
                                // END
                                span.act-item
                                    i.ico.scale
                                    | 110 m²
                                // END
                                span.act-item
                                    i.ico.rotate
                                    | Visite virtuelle
                                // END
                                span.act-item
                                    i.ico.camera
                                    | 5
                                // END
                                span.act-item
                                    i.ico.play
                                    | 2
                                // END
            // END : ITEM
            .col-6
                .resultat-item
                    a(href="#")
                        .cate EXCLUSIVITÉ
                        .favorite
                            img(src="uploads/icons/icon_heart@2x.png", alt="")
                        img(src="uploads/properties/resultat_thumb_1@2x.jpg", alt="demo")
                        .resultat-info
                            h3.ttl Maison Niederschaeffolsheim
                            .price 250 000 €
                            .actions
                                span.act-item
                                    i.ico.room
                                    | 6
                                // END
                                span.act-item
                                    i.ico.scale
                                    | 110 m²
                                // END
                                span.act-item
                                    i.ico.rotate
                                    | Visite virtuelle
                                // END
                                span.act-item
                                    i.ico.camera
                                    | 5
                                // END
                                span.act-item
                                    i.ico.play
                                    | 2
                                // END
            // END : ITEM
    // END : LIST