.avis-wrap
    .container
        h2.offers-ttl Avis
        .user-avatar
            .user-sml
                .cir
                    i.ico.avatar
                h3.ttl Propriétaire
            // END
            .user-lrg
                img(src="uploads/p/ava_c@2x.png", alt="demo")
                h3.ttl Votre agent
            // END
        // END
        .user-comment
            .txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nisi libero, dignissim ac rutrum eget, auctor ut dolor. Sed sed ligula massa. Morbi sit amet ex nec lorem facilisis rutrum efficitur in lorem. Etiam condimentum semper eros, id scelerisque ex hendrerit id. Nam fringilla justo eget 
            .name Marc Mennant, 
            .pos Conseiller Guy Hoquet Ville
        // END : COMMENT