.de-biens-banner.detail-banner
    .de-biens-slider
        .de-biens-slider-itm
            img(src="uploads/de-biens-banner.jpg", alt="demo")
        // END
        .de-biens-slider-itm
            img(src="uploads/de-biens-banner.jpg", alt="demo")
        // END
        .de-biens-slider-itm
            img(src="uploads/de-biens-banner.jpg", alt="demo")
        // END
    // END : SLIDER
    .de-biens-gallery
        a(href="#").gal_item
            img(src="uploads/properties/gal_1@2x.jpg", alt="demo")
        a(href="#").gal_item
            img(src="uploads/properties/gal_2@2x.jpg", alt="demo")
        a(href="#").gal_item
            img(src="uploads/properties/gal_3@2x.jpg", alt="demo")
        a(href="#").gal_more +15
    a(href="#").link_social
        i.ico.share
    a(href="#").link_favorite
        i.ico.heart