.bilan-wrap
    .container
        h3.offers-ttl Bilan énergétique
        .form-group
            .row
                .col-6.col-num
                    .line(style="width:60%;").green
                        .num 98               
                        .letter C
                // END
                .col-6.col-text Performance énergétique
                // END
        // END
        .form-group
            .row
                .col-6.col-num
                    .line(style="width:90%;").violet
                        .num 32               
                        .letter D
                // END
                .col-6.col-text Gaz à effet de serre
                // END
        // END