.derniers-wrap.decouvrez-wrap
    .container
        h3.offers-ttl Découvrez d’autres bien dans le quartier bien dans
    .container.no-pad-right
        .derniers-slider
            .resultat-item
                a(href="#")
                    .cate EXCLUSIVITÉ
                    .favorite
                        img(src="uploads/icons/icon_heart@2x.png", alt="")
                    img(src="uploads/properties/resultat_thumb_1@2x.jpg", alt="demo")
                    .resultat-info
                        h3.ttl Maison Niederschaeffolsheim
                        .price 250 000 €
                        .actions
                            span.act-item
                                i.ico.room
                                | 6
                            // END
                            span.act-item
                                i.ico.scale
                                | 110 m²
                            // END
                            span.act-item
                                i.ico.rotate
                                | Visite virtuelle
                            // END
                            span.act-item
                                i.ico.camera
                                | 5
                            // END
                            span.act-item
                                i.ico.play
                                | 2
                            // END
            // END : ITEM
            .resultat-item
                a(href="#")
                    .cate EXCLUSIVITÉ
                    .favorite
                        img(src="uploads/icons/icon_heart@2x.png", alt="")
                    img(src="uploads/properties/resultat_thumb_1@2x.jpg", alt="demo")
                    .resultat-info
                        h3.ttl Vente très grand appartement très grand  neuf type « loft »
                        .txt Saint-Quentin-la-Motte-Croix-au-Bailly
                        .price 250 000 €
                        .actions
                            span.act-item
                                i.ico.room
                                | 6
                            // END
                            span.act-item
                                i.ico.scale
                                | 110 m²
                            // END
                            span.act-item
                                i.ico.rotate
                                | Visite virtuelle
                            // END
                            span.act-item
                                i.ico.camera
                                | 5
                            // END
                            span.act-item
                                i.ico.play
                                | 2
                            // END
            // END : ITEM
            .resultat-item
                a(href="#")
                    .cate EXCLUSIVITÉ
                    .favorite
                        img(src="uploads/icons/icon_heart@2x.png", alt="")
                    img(src="uploads/properties/resultat_thumb_1@2x.jpg", alt="demo")
                    .resultat-info
                        h3.ttl Maison Niederschaeffolsheim
                        .price 250 000 €
                        .actions
                            span.act-item
                                i.ico.room
                                | 6
                            // END
                            span.act-item
                                i.ico.scale
                                | 110 m²
                            // END
                            span.act-item
                                i.ico.rotate
                                | Visite virtuelle
                            // END
                            span.act-item
                                i.ico.camera
                                | 5
                            // END
                            span.act-item
                                i.ico.play
                                | 2
                            // END
            // END : ITEM