.head-back
    .container
        .inner
            a(href="#").link_back
                i.ico.arr_left
                .head-ttl Agences Paris (75017)
                    span.txt Modifier
            a(href="#").link_notifi
                i.ico.bell