.de-biens-info
    .container
        h1.name Maison 3 pièces 
        .add Paris 75107
        .price 250 000 € **
        .desc 
            p 230 000 € Hors Honoraires
            p Honoraires : 5.85 % TTC à la charge de l’acquéreur.
        .code REF : 3501XXLLM
        .txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis molestie, massa quis faucibus fringilla, tellus sapien tempus libero, id convallis nisi sapien sit amet turpis. Phasellus eu nunc urna. Nam eleifend pulvinar velit id posuere. Integer facilisis, odio quis vulputate pellentesque, lacus sapien molestie odio, quis semper metus nisi non elit. Interdum et malesuada fames ac ante ipsum 
            a(href="#").more Voir plus
        .biens-list
            .biens-item
                .inner
                    i.ico.scale
                    .ttl 110 m²
            // END : ITEM
            .biens-item
                .inner
                    i.ico.room
                    .ttl 5 pièces
            // END : ITEM
            .biens-item
                .inner
                    i.ico.king_bed
                    .ttl 2 chambres
            // END : ITEM
            .biens-item
                .inner
                    i.ico.sofa
                    .ttl Séjour 40 m²
            // END : ITEM
            .biens-item
                .inner
                    i.ico.shower
                    .ttl 2 sdb
            // END : ITEM
            .biens-item
                .inner
                    i.ico.parking
                    .ttl 1 parking
            // END : ITEM
        // END