.biens-mission
    .container
        .contactez-info
            .inner
                .row
                    .col-6.col-left
                        h2.name GUY HOQUET 
                            span PARIS 
                        p 344 route de Clisson
                        p 44120 Vertou
                        p Tél. 02 49 62 14 96
                    // END : LEFT
                    .col-6.col-right
                        a(href="index.html")
                            img(src="uploads/logo@2x.png", alt="demo")
                    // END : LEFT
        // END : INFO
        .biens-content
            h2.offers-ttl Nos missions
            .txt Depuis 2001 sur VERTOU, notre agence située au cœur de la ville, face aux Halles, vous accueille 6 jours sur 7, et bénéficie d’un espace de stationnement facile d’accès sur la Place du
        // END
        .biens-content
            img(src="uploads/p/ava_c@2x.png", alt="demo").biens-user
            h2.offers-ttl Votre conseiller
            .txt Marc Mennant, conseiller Guy Hoquet est à votre disposition
        // END
        .biens-content
            h2.offers-ttl Les horaires 
            .txt Tous les jours de 9 h 30 à 12 h et de 14 h à 19 h , sauf le samedi après-midi : sur rendez-vous.
        // END