.partenaires-offers
    .container
        h2.offers-ttl Partenaires
        .agence-card
            a(href="#")
                img(src="uploads/fotolia_4@2x.jpg", alt="demo")
                .agence-ctent
                    h3.ttl Vous souhaitez déménager ?
                    .desc Lorem ipsum dolor sit amet, consectetur 
                    .act Démarrer
        // END
        .agence-card
            a(href="#")
                img(src="uploads/fotolia_5@2x.jpg", alt="demo")
                .agence-ctent
                    h3.ttl Simulez votre financement
                    .desc Lorem ipsum dolor sit amet, consectetur 
                    .act Démarrer
        // END