.quartier-wrap
    .container
        h2.offers-ttl Le quartier
    #quartier-map(data-lat="48.8560915", data-lng="2.3500983")
    // END: MAP
    .quartier-info
        .container
            .quartier-list
                .quartier-item
                    .inner
                        .quartier-img
                            i.ico.cocktail_glass
                        h3.ttl Sorties
                // END
                .quartier-item
                    .inner
                        .quartier-img
                            i.ico.shopping
                        h3.ttl Shopping
                // END
                .quartier-item
                    .inner
                        .quartier-img
                            i.ico.school_bus
                        h3.ttl Transport
                // END
                .quartier-item
                    .inner
                        .quartier-img
                            i.ico.graduation
                        h3.ttl Ecoles
                // END
            // END : LIST
            .txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis molestie, massa quis faucibus fringilla, tellus sapien tempus libero, id convallis nisi sapien sit amet turpis. Phasellus eu nunc urna. Nam eleifend pulvinar velit id posuere. Integer facilisis, odio quis vulputate pellentesque, lacus sapien molestie odio, quis semper metus nisi non elit. Interdum et malesuada fames ac ante ipsum 
                a(href="#").more Voir plus
    // END: INFO