.horaires-wrap.technique-wrap
    .container
        h2.offers-ttl Fiche technique du bien 
        .technique-slider
            .technique-item
                .horaires-item
                    .row
                        .col-5.horaires-ttl Type de bien
                        // END
                        .col-7.horaires-time Maison
                        // END
                // END
                .horaires-item
                    .row
                        .col-5.horaires-ttl Code postal
                        // END
                        .col-7.horaires-time 44600
                        // END
                // END
                .horaires-item
                    .row
                        .col-5.horaires-ttl Secteur
                        // END
                        .col-7.horaires-time Saint-Marc-sur-mer
                        // END
                // END
                .horaires-item
                    .row
                        .col-5.horaires-ttl Exposition
                        // END
                        .col-7.horaires-time Est-Ouest
                        // END
                // END
                .horaires-item
                    .row
                        .col-5.horaires-ttl Taxe Foncière
                        // END
                        .col-7.horaires-time 1 430 €
                        // END
                // END
                .horaires-item
                    .row
                        .col-5.horaires-ttl Nb de Lots
                        // END
                        .col-7.horaires-time 11
                        // END
                // END
                .horaires-item
                    .row
                        .col-5.horaires-ttl Nb de pièces
                        // END
                        .col-7.horaires-time 5
                        // END
                // END
            // END
            .technique-item
                .horaires-item
                    .row
                        .col-5.horaires-ttl Type de bien
                        // END
                        .col-7.horaires-time Maison
                        // END
                // END
                .horaires-item
                    .row
                        .col-5.horaires-ttl Code postal
                        // END
                        .col-7.horaires-time 44700
                        // END
                // END
                .horaires-item
                    .row
                        .col-5.horaires-ttl Secteur
                        // END
                        .col-7.horaires-time Saint-Marc-sur-mer 1
                        // END
                // END
                .horaires-item
                    .row
                        .col-5.horaires-ttl Exposition
                        // END
                        .col-7.horaires-time Est-Ouest
                        // END
                // END
                .horaires-item
                    .row
                        .col-5.horaires-ttl Taxe Foncière
                        // END
                        .col-7.horaires-time 2 430 €
                        // END
                // END
                .horaires-item
                    .row
                        .col-5.horaires-ttl Nb de Lots
                        // END
                        .col-7.horaires-time 50
                        // END
                // END
                .horaires-item
                    .row
                        .col-5.horaires-ttl Nb de pièces
                        // END
                        .col-7.horaires-time 15
                        // END
                // END
            // END
            .technique-item
                .horaires-item
                    .row
                        .col-5.horaires-ttl Type de bien
                        // END
                        .col-7.horaires-time Maison
                        // END
                // END
                .horaires-item
                    .row
                        .col-5.horaires-ttl Code postal
                        // END
                        .col-7.horaires-time 42900
                        // END
                // END
                .horaires-item
                    .row
                        .col-5.horaires-ttl Secteur
                        // END
                        .col-7.horaires-time Saint-Marc-sur-mer
                        // END
                // END
                .horaires-item
                    .row
                        .col-5.horaires-ttl Exposition
                        // END
                        .col-7.horaires-time Est-Ouest
                        // END
                // END
                .horaires-item
                    .row
                        .col-5.horaires-ttl Taxe Foncière
                        // END
                        .col-7.horaires-time 2 940 €
                        // END
                // END
                .horaires-item
                    .row
                        .col-5.horaires-ttl Nb de Lots
                        // END
                        .col-7.horaires-time 45
                        // END
                // END
                .horaires-item
                    .row
                        .col-5.horaires-ttl Nb de pièces
                        // END
                        .col-7.horaires-time 89
                        // END
                // END
            // END