.head-back
    .container
        .inner
            a(href="#").link_back
                .head-ttl Achat Paris (75017)
                    span.txt Affiner
            a(href="#").link_notifi
                i.ico.bell